@import '@/assets/styles/index.scss';

.hswiper-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  box-sizing:border-box;
}
.hswiper-item {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing:border-box;
}
