// Drawer Component
@import "@/assets/styles/index.scss";

.mf_drawer {
    &-title {
        @include flex($justify:space-between, $align-items: center);
        padding: 0 $spacing-lg;
    }

    &-indicator {
        transition: transform 0.5s ease 0s;

        &__actived {
            transform: rotate(0.5turn);
        }
    }

    &-content {
        height: 0;
        max-height: 100rpx;
        overflow: hidden;
        will-change: height;
        background: yellow;
        transition: height 0.5s ease-in-out 0s;

        &__actived {
            height: auto;
        }
    }
}
