// Input Component

@import "@/assets/styles/index";

$cmp: "mf-input";

@mixin cmp-font(
    $size: $font-size-lg,
    $line: $line-height-lg,
    $color: $color-text
) {
    vertical-align: middle;
    font-size: $size;
    line-height: $line;
    color: $color;
}

.#{$cmp} {
    @include flex($align-items: center);
    padding: ($spacing-lg + 4) $spacing-lg;

    &_placeholder {
        @include cmp-font($color: $color-text-disabled);
    }

    &_title {
        box-sizing: content-box;
        min-width: $form-label-base;
        max-width: $form-label-lgest;
        padding-right: 20rpx;
        margin-right: 12rpx;
        @include cmp-font();
    }

    &_content {
        flex: 1;
        display: inline-block;
        @include cmp-font();
    }

    &_clear {
        min-height: 20rpx;
        min-width: 20rpx;
    }

    @at-root &__error {
        .#{$cmp}_title,
        .#{$cmp}_content {
            @include cmp-font($color: $color-negative);
        }
    }

    @at-root &__disabled {
        .#{$cmp}_title,
        .#{$cmp}_content {
            @include cmp-font($color: $color-text-disabled);
        }
    }
}
