@import "@/theme";

.icon  {
  font-size: 75rpx;
  color: $color-brand;
}

.address {
  width: 100%;
  position: relative;
  font-size: $font-size-base;
  font-family: $font-cn;
  color: $color-text-base;

  &__name,
  &__tel {
    display: inline;
  }

  &__name {
    font-weight: bolder;
  }
}
