@import '@/assets/styles/animations/index.scss';


.live-poster-wrap {

  &.bounce-in {
    .hpopup-body__center{
      @include bounce-in($translate: translate(-50%, -50%));
    }
  }
  
  &.bounce-out {
    .hpopup-body__center{
      @include bounce-out($translate: translate(-50%, -50%));
    }
  }
}

.share-img{
  width: 300px;
  height: 420px;

  .image{
    width: 100%;
    height: 100%;
  }
}

.share-img-icon{
  position: absolute;
  color: white;
  font-size: 16px;
  background: #FE2C54;
  border-radius: 9999px;
  width: 200px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%, 0);
}