/**
 * Color
 */

/* Primary */
$color-primary: #fe2c54 !default;
$color-primary-black: #363636 !default;
$color-primary-white: #fff !default;

/* Warn */
$color-positive: #13ce66 !default;
$color-negative: #fe2c54 !default;
$color-warning: #ffc82c !default;
$color-info: #78a4fa !default;

/* Warn Backup */
$color-roof: #c2abc7 !default;
$color-wall: #eef0f0 !default;
$color-door: #f1e4ed !default;
$color-curtain: #f0d0d5 !default;

/* Text */
$color-text: #7f7f7f !default;
$color-text-link: #1890ff !default;
$color-text-title: #333 !default;
$color-text-bullet: #b2b2b2 !default; // 弹幕
$color-text-disabled: #ccc !default;

/* Background */
$color-bg: #f5f5f5 !default;
$color-bg-dark: #ececec !default;

/* Border */
$color-border: #dedede !default;

/* IconFont */
$color-icon: #ccc !default;

/* Pure */
$white: #fff !default;

/* Palette */
$color-black-0: #000 !default;
$color-black-1: #333 !default;
$color-black-2: #7f7f7f !default;
$color-black-3: #b2b2b2 !default;

$color-grey-0: #333 !default;
$color-grey-1: #666 !default;
$color-grey-2: #999 !default;
$color-grey-3: #ccc !default;
$color-grey-4: #e5e5e5 !default;
$color-grey-5: #f0f0f0 !default;
$color-grey-6: #f7f7f7 !default;
