@import '@/assets/styles/iconfont.scss';

@keyframes userTrendAnimate {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }

  10% {
    transform: translateX(0%);
    opacity: 1;
  }

  70% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.comment-panel-wrap {
  position: absolute;
  left: 30rpx;
  bottom: 106rpx;
  bottom: calc(106rpx + constant(safe-area-inset-bottom));
  bottom: calc(106rpx + env(safe-area-inset-bottom));
  width: 70%;
  overflow: hidden;

  .user-trend-tip {
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: userTrendAnimate 2000ms ease 0s forwards;

    .user-trend-avatar {
      width: 44rpx;
      height: 44rpx;
      border-radius: 9999px;
      margin-right: 10rpx;
    }

    .user-trend-tip-inner {
      color: white;
      border-radius: 9999px;
      padding: 0 20rpx;
      font-size: 28rpx;
      height: 44rpx;
      line-height: 44rpx;

      .user-trend-icon {
        float: left;
        height: 34rpx;
        width: 34rpx;
        margin-left: 10rpx;
        margin-top: 4rpx;
      }
  
      .user-trend-name {
        float: left;
        margin-right: 10rpx;
      }
  
      .user-trend-text {
        float: left;
      }

      .comment-icon {
        position: absolute;
        margin-left: 10rpx;
        width: 34rpx;
        height: 34rpx;
        margin-top: 2rpx;

        &.icon-1 {
          margin-top: 4rpx;
          width: 30rpx;
          height: 30rpx;
        }
      }
    }
  }

  .comment-panel-inner {
    height: 375rpx;
    width: calc(100% + 10px);
    padding-top: 60rpx;
    box-sizing: border-box;
    margin-bottom: 20rpx;

    .comment-item {
      overflow: hidden;
      padding-bottom: 10rpx;
      margin-right: 10px;

      .comment-item-inner {
        float: left;
        padding: 0 16rpx;
        border-radius: 4rpx;
        background: rgba(0, 0, 0, 0.08);
        font-size: 28rpx;

        .comment-author {
          margin-right: 10rpx;

          &.color-0 {
            color: #00D06D;
          }

          &.color-1 {
            color: #FB3E4A;
          }

          &.color-2 {
            color: #FFCA3E;
          }

          &.color-3 {
            color: #78A4FA;
          }
        }
  
        .comment-text {
          color: rgb(241, 252, 251);
        }
      }
    }
  }

  .recommend-product-outer {
    height: 0;

    .recommend-product {
      display: flex;
      align-items: center;
      position: relative;
      width: 404rpx;
      height: 140rpx;
      border-radius: 4rpx;
      background: white;

      &::after{
        content: '';
        position: absolute;
        bottom: -14rpx;
        left: 10rpx;
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 8px solid white;
      }

      .rp-img {
        width: 100rpx;
        height: 100rpx;
        border-radius: 4rpx;
        overflow: hidden;
        margin: 0 20rpx;
      }

      .rp-content-wrap {
        font-size: 26rpx;
        display: flex;
        height: 70rpx;
        flex-direction: column;
        justify-content: space-between;

        .rp-content {
          color: #BAB9BE;
          line-height: 26rpx;
          height: 26rpx;

          &.price {
            color: #FB3E4A;
          }
        }
      }

      .rp-close-wrap {
        position: absolute;
        top: 0;
        right: 0;
        width: 70rpx;
        height: 70rpx;

        .rp-close-btn {
          position: absolute;
          top: 0;
          right: 0;
          width: 45rpx;
          height: 45rpx;
          line-height: 45rpx;
          font-size: 24rpx;
          color: #999999;
          text-align: center;
        }
      }
    }
  }
}