@import "@/theme";

.white-back {
  background-color: white;
}

.margin-bottom {
  margin-bottom: $spacing-v-lg;
}

.card__extra {
  max-width: 50%;
}

.red {
  color: $color-error;
}

.detail-item {
  padding-bottom: $spacing-h-md;
  view {
    display: inline-block;
    vertical-align: text-top;
  }

  .label {
    width: 20%;
    margin-right: 2%;
    text-align: left;
  }

  .content {
    width: 76%;
  }

  .images {
    image {
      $image-size: 130rpx;
      width: $image-size;
      height: $image-size;
      border-radius: $border-radius-lg;
      margin-right: $spacing-h-md;
    }
  }
}
