function setRightMargin(safeArea, menuBtn) {
  return safeArea.right - menuBtn.left
}

function setHeight(menuBtn, statusBarHeight) {
  return 2 * getCrevice(menuBtn, statusBarHeight) + menuBtn.height
}

function setPlacehold(menuBtn, statusBarHeight) {
  return setHeight(menuBtn, statusBarHeight) + statusBarHeight
}

function getCrevice(menuBtn, statusBarHeight) {
  return menuBtn.top - statusBarHeight
}

module.exports = {
  setHeight,
  setPlacehold,
  setRightMargin,
  getCrevice
}
