@import "@/theme";

.form {
  background-color: $color-white;
}

.btn {
  width: 100%;
  padding: $spacing-v-lg 0;
  background-color: $color-white;
}

.img-selector {
  padding: $spacing-v-lg 0;
}

.hint {
  width: 100%;
  color: $color-text-placeholder;
  font-size: $font-size-base;
  margin-top: $spacing-v-md;
}

.textarea {
  width: 100%;
  height: 150rpx;
  padding: $spacing-v-lg 0;

  textarea {
    width: 100%;
    height: 100%;
  }
}
