.hswiper-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  box-sizing:border-box;
}
.hswiper-item {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing:border-box;
}

.test-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 200px 100px;
  color: white;
  text-shadow: 1px 1px 2px black;
  z-index: 888;
}