@import "@/theme";

.state {
  width: 100%;
  @include flex-row-nowrap;

  &__icon {
    width: $icon-size-lg;
    height: $icon-size-lg;
    margin-right: $spacing-h-lg;
    font-size: 85rpx;
  }

  &__content {

    &-detail {
      view {
        display: inline;
        font-size: $font-size-sm;
      }

      &__timer {
        color: $color-error;
      }
    }
  }
}
