// Card Component
@import "@/assets/styles/index.scss";

.mf-card {
    overflow: hidden;
    box-sizing: border-box;
    border: 2rpx solid $color-border;
    background: $white;
    border-radius: $border-radius-card;
    margin: 0 $spacing-lg;

    &_title {
        @include flex($justify: space-between, $align-items: center);
        padding: $spacing-lg $spacing-xxl;
        border-bottom: 1rpx solid #ddd;

        &-text {
            font-size: $font-size-xl;
            line-height: 51rpx;
            color: $color-text-darker;
        }

        &-extra {
            font-size: 30rpx;
            line-height: 30rpx;
            color: $color-text-darker;
        }

        &_left {
            @include flex($align-items: center);
        }

        &-thumb {
            width: 37rpx;
            height: 37rpx;
            margin-right: $spacing-md;
        }
    }

    &_content {
        padding: $spacing-lg $spacing-xxl;

        &-main {
            font-size: $font-size-lg;
            line-height: $line-height-lg;
            color: $color-text-darker;
        }

        &-tips {
            margin-top: $spacing-lg;
            font-size: $font-size-base;
            line-height: $line-height-base;
            color: $color-text-light;
        }
    }

    &__full {
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }
}
