@import '@/assets/styles/index.scss';

.popover {
  z-index: $zindex-modal;
  position: fixed;
  transition-property: transform opacity;
  transition-duration: 100ms;
  transition-timing-function: ease;
  padding: $spacing-lg 0;
}

.popover__hidden {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.popover__hidden-none {
  display: none;
}

.popover__shown-bottom {
  transform: translate(-50%, 0) scale(1);
  opacity: 1;
}

.popover__shown-bottom-middle {
  transform: translate(-50%, 5%) scale(1.1);
  opacity: 0.8;
}

.popover__shown-top {
  transform: translate(-50%, -100%) scale(1);
  opacity: 1;
}

.popover__shown-top-middle {
  transform: translate(-50%, -105%) scale(1.1);
  opacity: 0.8;
}

.content {
  width: 400rpx;
  position: relative;
  box-shadow: 0 2rpx 8rpx 8rpx #eee;
  display: flex;
  flex-flow: row wrap;
  border-radius: $border-radius-lg;
  background-color: $white;
  padding: 0 $spacing-lg;
  box-sizing: content-box;

  .item {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    padding: $spacing-lg 0;

    .item-icon {
      background: #888;
      width: $icon-size-lg;
      height: $icon-size-lg;
      margin: 0 auto;
    }

    .item-text {
      margin-top: $spacing-sm;
      font-size: $font-size-sm;
      text-align: center;
    }
  }
}

.content__bottom::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 14rpx solid transparent;
  border-bottom-color: #fff;
  top: -20rpx;
  left: 50%;
  transform: translateX(-50%);
}

.content__top::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 14rpx solid transparent;
  border-top-color: #fff;
  bottom: -20rpx;
  left: 50%;
  transform: translateX(-50%);
}

.show-more {
  width: 100%;
  height: $spacing-lg;
  position: relative;
  box-sizing: content-box;

  view {
    width: 10%;
    height: 100%;
    background-color: #f00;
    margin: 0 auto;
  }
}