/**
  * Avatar Component
  */

:host {
    display: inline-block;
}

.mf_avatar {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

    &__circle {
        border-radius: 100%;
    }

    // 微信小程序处理 `image` 原生组件时
    // `display: inline-block` 会造成样式问题
    > image {
        display: block;
    }
}
