@import '@/assets/styles/index.scss';

.ad-wrap{
  position: absolute;
  left: 20rpx;
  width: calc(100% - 100px);
  bottom: 80rpx;
  color: white;
  z-index: 1000;

  @at-root .ad-board-wrap{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 14rpx;
    background: white;
    top: -30rpx;
    left: -20rpx;
    width: 404rpx;
    height: 140rpx;
    box-sizing: border-box;
    transform: translate(-100%, -100%);

    &::after{
      content: '';
      position: absolute;
      bottom: -14rpx;
      left: 20rpx;
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 8px solid white;
    }

    @at-root .ad-board-img{
      width: 112rpx;
      height: 112rpx;
      border-radius: 4rpx;
    }

    @at-root .ad-board-content-wrap{
      padding: 15rpx 20rpx;

      @at-root .ad-board-content{
        color: #BAB9BE;
        line-height: 42rpx;
        font-size: 26rpx;

        &.price{
          color: #FB3E4A;
        }
      }
    }

    @at-root .ad-close-btn.iconfont{
      position: absolute;
      right: 0;
      top: 0;
      color: #666;
      font-size: 22rpx;
      padding: 10rpx;
    }
  }

  @at-root .ad-tag-wrap{
    display: flex;
    align-items: center;
    max-width: 300rpx;
    height: 56rpx;
    background-color:rgba(0, 0, 0, 0.23);
    border-radius: 0 4rpx 4rpx 0;

    .icon-shopping-cart{
      padding: 0 10rpx;
      font-size: 36rpx;
      color: rgb(249, 205, 52);
    }

    .ad-tag-text{
      line-height: 56rpx;
      font-size: 28rpx;
      @include no-wrap()
    }
  }

  @at-root .ad-title{
    float: left;
    width: 100%;
    font-size: 36rpx;
    margin: 8rpx 0;

    @include no-wrap()
  }

  @at-root .ad-content{
    float: left;
    font-size: 28rpx;

    @include multi-ellipsis(4)
  }

}