@import '@/assets/styles/index.scss';

.input-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-md $spacing-xxl;
  background: $white;

  @include hairline($color: $color-bg-dark, $position: top);
  @include hairline($color: $color-bg-dark, $position: bottom, $element: after);

  .input-wrap {
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70rpx;
    border-radius: $border-radius-circle2;
    overflow: hidden;
    background: $color-grey-5;

    .input {
      flex-grow: 1;
    }
  }

  .search-text {
    font-size: $font-size-base;
    padding-left: $spacing-lg;
  }
}