@import "@/theme";

page {
  margin-bottom: 100px;
}

.white-back {
  background-color: #fff;
}

.grey-back {
  background-color: #fbfbfb;
}

.cashier-header {
  width: 100%;
  padding: $spacing-v-lg 0;
  text-align: center;
  font-size: $font-size-lg;
}

.trades {
  width: 100%;
  margin-top: $spacing-h-xl;
}

.check-all {
  @include flex-row-nowrap;
  padding: 0 30rpx;
  align-items: center;

  image {
    $icon-size: 36rpx;
    width: $icon-size;
    height: $icon-size;
    margin-right: 4rpx;
    margin-left: 10rpx;
  }
}

.bill {
  &__group {
    width: 100%;
    background-color: white;
    color: $color-grey-2;
    font-size: $font-size-sm;
  }

  &__row {
    @include flex-row-nowrap;
    justify-content: space-between;
  }
}

.bill-row {
  @include flex-row-nowrap;
  justify-content: space-between;
  font-size: $font-size-base;
  color: $color-text-base;
  padding: $spacing-v-md 0;

  &__header {
    align-self: center;

    view {
      display: inline;
    }
  }

  &__desc {
    color: $color-text-placeholder;
  }

  &__tail {
    @include flex-row-nowrap;
    align-items: center;

    &__full {
      flex: 1;

      input {
        width: 100%;
      }
    }

  }
}

.cell {
  background-color: white;
}

.price {
  font-weight: bold;
  font-size: 32rpx;
  color: #F32953;

  text {
    font-size: 24rpx;
  }
}

.total-tag {
  font-size: 28rpx;
  color: #333333;
}

.non-flex {
  flex: 0 0 auto !important;
}

.subtotal {
  width: 100%;
  padding-top: $spacing-v-lg;
  @include flex-row-nowrap;
  justify-content: flex-end;
  align-items: baseline;

  &-quantity {
    font-size: $font-size-sm;
    font-family: $font-cn;
    color: $color-text-placeholder;
  }

  &-cost {
    @include flex-row-nowrap;

    &__label,
    &__content {
      font-size: $font-size-base;
      font-family: $font-cn;
    }

    &__label {
      color: $color-text-base;
    }

    &__content {
      color: $color-error;
    }
  }
}

.hairline-t {
  @include hairline-top($color: $cell-color-border);
}

.border-b {
  border-bottom: 36rpx solid white;
}

.popup-radius {
  border-top-left-radius: $border-radius-xxl;
  border-top-right-radius: $border-radius-xxl;
}

.placeholder {
  width: 100%;
  height: 210rpx;
  display: block;
}

.empty {
  margin-top: 200rpx;
  width: 100%;
  text-align: center;
}
