@import '@/assets/styles/index.scss';

.title {
  height: 5vh;
}

scroll-view {
  height: 95vh;
}

.article-area {
  width: 100%;
  // border: 4rpx solid #000;

  .node {
    width: 95%;
    height: 250rpx;
    background-color: #bfbfbf;
    border: solid 3rpx #f00;
    color: white;
  }

  .node-active {
    background-color: #888;
  }
}
