.hidden {
  display: none;
}

@keyframes popStar1 {
  0% {
    transform: translate(0, -50%) scale(.5);
    margin-left: 0;
  }

  5% {
    transform: translate(0, -100%) scale(1);
    top: 0;
    opacity: 1;
    margin-left: 0;
  }

  30% {
    margin-left: -40rpx;
  }

  55% {
    margin-left: -10rpx;
  }

  70% {
    margin-left: -40rpx;
  }

  100% {
    transform: translate(0, -100%) scale(1);
    top: -600rpx;
    opacity: 0;
    margin-left: -20rpx;
  }
}

@keyframes popStar2 {
  0% {
    transform: translate(0, -50%) scale(.5);
    margin-left: 0;
  }

  5% {
    transform: translate(0, -100%) scale(1);
    top: 0;
    opacity: 1;
    margin-left: 0;
  }

  40% {
    margin-left: -100rpx;
  }

  70% {
    margin-left: -80rpx;
  }

  100% {
    transform: translate(0, -100%) scale(1);
    top: -600rpx;
    opacity: 0;
    margin-left: -150rpx;
  }
}

@keyframes popStar3 {
  0% {
    transform: translate(0, -50%) scale(.5);
    margin-left: 0;
  }

  5% {
    transform: translate(0, -100%) scale(1);
    top: 0;
    opacity: 1;
    margin-left: 0;
  }

  40% {
    margin-left: 50rpx;
  }

  70% {
    margin-left: 30rpx;
  }

  100% {
    transform: translate(0, -100%) scale(1);
    top: -600rpx;
    opacity: 0;
    margin-left: 70rpx;
  }
}

.operate-bar-wrap {
  position: absolute;
  bottom: 0;
  bottom: constant(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20rpx 20rpx;
  box-sizing: border-box;

  .comment-input-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260rpx;
    height: 76rpx;
    padding: 0 20rpx 0 30rpx;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 9999px;
    box-sizing: border-box;

    .input {
      flex-grow: 1;
      color: white;
      font-size: 28rpx;
      padding: 0;
    }

    .img-wrap {
      position: relative;
      width: 90rpx;
      height: 50rpx;

      .img {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 99;
      }

      .record-outer {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300rpx;
        height: 300rpx;
        border-radius: 9999px;
        background: rgba(236, 90, 90, 0.5);

        .record-inner {
          width: 200rpx;
          height: 200rpx;
          border-radius: 9999px;
          background: rgb(236, 90, 90);
        }
      }
    }
  }

  .operate-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76rpx;
    height: 76rpx;
    border-radius: 9999px;

    .img {
      width: 100%;
      height: 100%;
    }

    .shop-cart-count {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      color: white;
      font-size: 26rpx;
      line-height: 40rpx;
    }

    .pop-star {
      position: absolute;
      top: 0;
      transform: translate(0, -100%);
      border-radius: 9999px;

      &.star-0 {
        animation: popStar1 1.4s linear 0s forwards;
      }

      &.star-1 {
        animation: popStar2 1.5s linear 0s forwards;
      }

      &.star-2 {
        animation: popStar3 1.6s linear 0s forwards;
      }
    }

    .star-count {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #F83244;
      color: white;
      padding: 0 10rpx;
      min-width: 50rpx;
      height: 24rpx;
      border-radius: 9999px;
      font-size: 20rpx;
      white-space: nowrap;
    }
  }
}

.live-share-packets-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: white;
  padding: 40rpx 0;
  border-top-left-radius: 8rpx;
  border-top-right-radius: 8rpx;

  .share-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .img {
      width: 120rpx;
      height: 120rpx;
      border-radius: 9999px;
    }

    .text {
      margin-top: 20rpx;
      font-size: 22rpx;
      color: #666666;
      text-align: center;
    }

    .share-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      background: transparent;
      padding: 0;
      margin: 0;
    }
  }
}