// Home Page
@import "../../assets/styles/index.scss";

$page: home-page;

page {
    background: $color-bg;
}

.home-page-logo {
    width: 200rpx;
}

.home-page_header {
    background: $white;
    position: sticky;
    top: 0;
    z-index: $zindex-topest;
}

.home-page_list {
    padding: $spacing-lg;
}

.mf-searchbar-wrap {
    width: 100%;
    height: 100%;
    margin: 0 $spacing-xxl;
    border-radius: 40rpx;
    overflow: hidden;

    @at-root .mf-searchbar {
        @include flex($align-items: center);
        height: 100%;
        padding: 0 $spacing-lg;
        background: $color-bg;
        text-align: left;
    
        > input {
            margin-left: $spacing-base;
        }
    }
}

.home-page {
    &_live-list_home {
        @include flex($direction: column, $align-items: center);
        margin: 0 $spacing-sm;
        margin-left: $spacing-xxl;

        &_carousel {
            width: 250rpx;
            height: 120rpx;
            position: relative;

            &_frame {
                position: absolute;
                left: 0;
                border: 2rpx solid $white;
                border-radius: $border-radius-circle;
                transition: all 1s ease;
            }
        }

        &_title {
            width: 100%;
            margin-top: $spacing-sm;
            font-size: $font-size-xs;
            line-height: $line-height-xs;
            text-align: center;
            @include ellipsis();

            > text {
                margin-right: $spacing-base;
            }
        }
    }

    &_activities {
        @include flex($justify: space-between);
        background: $white;

        &_item {
            flex: 1;
            padding: $spacing-lg;
        }
    }
}
