
.status-bar-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 90rpx;

  .status-bar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rpx;
    font-size: 24rpx;
    color: white;
    border-radius: 9999px;
    overflow: hidden;

    .sb-avatar {
      width: 60rpx;
      height: 60rpx;
      border: 1rpx solid white;
      border-radius: 9999px;
      overflow: hidden;

      .img {
        width: 100%;
        height: 100%;
      }
    }

    .sb-anchor-wrap {
      margin: 10rpx;
      
      .row-one {
        line-height: 24rpx;
      }

      .row-two {
        font-size: 20rpx;
        line-height: 20rpx;
        margin-top: 4rpx;
      }
    }

    .sb-follow-wrap {
      height: 40rpx;
      line-height: 40rpx;
      padding: 0 20rpx;
      border-radius: 9999px;
      background: red;
    }
  }
}