/* navigation bar component .wxss */

@import "@/assets/styles/index.scss";

.mf_navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    overflow: hidden;

    &_body {
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;

        @include flex();

        &_left {
            @include flex($align-items: center);
            overflow: hidden;
        }

        &_center {
            flex: 1;
            @include flex($align-items:center, $justify: center);
        }
    }
}
