@import "@/assets/styles/index.scss";

$node-size: 170rpx;

.node {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;

  image {
    width: $node-size;
    height: $node-size;
    margin-right: $spacing-lg;
  }

  .content {
    height: $node-size;
    flex: 1;
    font-size: $font-size-lg;
    color: $color-black-1;
  }
}
