// comment-list-video 组件覆盖样式

$font-color: #333333 !default;
$gray: gray !default;
$background-color: white !default;

.comment-wrap {
  color: $font-color;
  background: $background-color;

  @at-root .comment-item-wrap {

    @at-root .comment-item {
      &.level-one {}

      &.level-two {}

      @at-root .avatar-one {

        image {}
      }

      @at-root .content-one-wrap {

        @at-root .content-one-inner {

          @at-root .content-nickname {
            color: $gray;
          }

          @at-root .content-comment {

            @at-root .content-commenttime {
              color: $gray;
            }

            @at-root .content-reply-name {
              color: $gray;
            }
          }
        }
      }

      @at-root .avatar-two {

        image {}
      }

      @at-root .content-two-wrap {

        @at-root .comment-star-wrap {

          @at-root .iconheart {
            color: $gray;

            &.stared {
              color: #f50005;
            }
          }

          @at-root .comment-star-count {
            color: $gray;
          }
        }
      }
    }
  }

  @at-root .comment-title-wrap {
    background: $background-color;

    @at-root .comment-title {}

    @at-root .comment-close-btn {

      .icon-font {
        color: $font-color;

        &.icondelete {}
      }
    }
  }

  @at-root .comment-footer-wrap {
    background: $background-color;

    @include hairline($color: #eee, $position: top);

    .icon-font {
      color: $gray;

      &.iconat {}

      &.iconface {}
    }

    @at-root .comment-footer-inner {

      @at-root .comment-footer-text {
        color: $gray;
      }
    }
  }
}