// Cell Component

@import "@/assets/styles/index.scss";

.i-cell {
    display: flex;
    position: relative;
    overflow: hidden;
    padding: $spacing-lg $spacing-xxl;
    background: #fff;
    align-items: center;
}

.i-cell::after {
    content: "";
    position: absolute;
    top: 0;
    left: $spacing-xxl;
    right: 0;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    border: 0 solid $color-border;
    border-bottom-width: 1rpx;
}

.i-cell-last::after {
    display: none;
}

.i-cell-icon {
    align-self: flex-start;
    @include flex($justify: center, $align-items: center);
    width: 56rpx;
    height: 56rpx;
    overflow: hidden;
    margin-right: $spacing-xxl;
}

.i-cell-icon:empty {
    display: none;
}

.i-cell-bd {
    flex: 1;
}

.i-cell-text {
    font-family: $font-default;
    font-size: 34rpx;
    line-height: 51rpx;
    color: $color-text-darker;
}

.i-cell-desc {
    margin: $spacing-sm 0;
    font-size: $font-size-base;
    line-height: $font-size-base;
    color: #8B8B8D;
}

.i-cell-ft {
    @include flex($justify: flex-end, $align-items: center);
    position: relative;
    text-align: right;
    color: #888888;
}

.i-cell-access .i-cell-ft_value {
    padding-right: $spacing-xxl;
}

// .i-cell-access .i-cell-ft::after {
//     content: " ";
//     display: inline-block;
//     width: 6px;
//     height: 6px;
//     position: absolute;
//     top: 50%;
//     right: 2px;
//     border-width: 2px 2px 0 0;
//     border-color: #dddee1;
//     border-style: solid;
//     transform: translateY(-50%) matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
// }
