@import "@/theme";

$header-height: 400rpx;
$header-title-height: 88rpx;

.header {
  width: 100%;
  height: $header-height;
  background-color: $color-brand;
  position: relative;
  display: flex;
  flex-direction: column;

  &-title {
    width: 100%;
    height: $header-title-height;
    line-height: $header-title-height;
    color: white;
    box-sizing: content-box;
    text-align: center;
  }

  &-user {
    width: 100%;
    flex:1;
    @include flex-row-nowrap;

    &__avatar {
      $avatar-size: 160rpx;

      width: $avatar-size;
      height: $avatar-size;
      border-radius: $avatar-size;
      margin: 0 $spacing-h-lg;
      align-self: center;
      background-color: #999;
    }

    &__detail {
      align-self: center;

      &-login {
        font-family: $font-cn;
        font-size: $font-size-lg;
        color: $color-white;
      }

      &-name {

      }

      &-desc {

      }
    }
  }
}
