
.no-more{
  position: relative;
	display: flex;
  justify-content: space-around;
  align-items: center;
	text-align: center;
	height: 200rpx;
  line-height: 200rpx;
  padding: 0 10%;
}

.no-more-line{
  width: 30%;
  height: 1rpx;
}

.no-more-text{
  width: 180rpx;
}