@import "../../../assets/styles/index.scss";

page {
    padding: 0 20rpx;
    box-sizing: border-box;
}

.mf-flex-row {
    margin: 15rpx 0;
}

.mf-flex-col {
    height: 100rpx;
    color: $white;
    line-height: 100rpx;
    text-align: center;
}

.mf_components-test-module {
    padding: 20rpx 0;
    margin: 30rpx 0;

    &_title {
        margin-bottom: 10rpx;
    }

    &_border {
        border: 1rpx solid #ccc;
        margin-bottom: 5rpx;
    }
}

.mf-test_color1 {
    background: $color-warning;
}

.mf-test_color2 {
    background: $color-primary;
}

.mf-test_color3 {
    // background: $color-warning;
}
