@import './assets/iconfont.scss';
@import '@/assets/styles/index.scss';

$background-color: #111111 !default;

@keyframes commentExpand {
  0% {
    opacity: 0;
    margin-top: -3*$spacing-xxl;
  }

  95% {
    opacity: .7;
    margin-top: 0;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.comment-wrap {
  color: $white;
  height: 100%;
  background: $background-color;
  opacity: .9;
  font-size: $font-size-base;

  @at-root .comment-item-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4*$spacing-lg 0 5*$spacing-lg;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    z-index: -1;

    @at-root .comment-item {
      position: relative;

      &.level-one {
        padding: 0 $spacing-xxl;
      }

      &.level-two {

        &.expand {
          animation: commentExpand 360ms ease 0ms forwards;
        }
      }

      @at-root .avatar-one {
        float: left;
        width: 60rpx;
        height: 60rpx;
        border-radius: $border-radius-circle2;
        overflow: hidden;

        image {
          width: 100%;
          height: 100%;
        }
      }

      @at-root .content-one-wrap {
        margin-left: 4*$spacing-lg;

        @at-root .content-inner {
          position: relative;
          padding-bottom: 2*$spacing-lg;

          @at-root .content-nickname {
            color: $color-text-light;
            font-size: $font-size-sm;
          }

          @at-root .content-comment {
            padding-right: 4*$spacing-lg;

            @at-root .content-commenttime {
              display: inline-block;
              color: $color-text-light;
              font-size: $font-size-sm;
            }

            @at-root .content-reply-name {
              color: $color-text-light;
            }
          }
        }

        @at-root .child-comment-outer {
          overflow: hidden;

          @at-root .child-comment-wrap {
            overflow: hidden;
  
          }
        }
      }

      @at-root .avatar-two {
        float: left;
        width: 40rpx;
        height: 40rpx;
        border-radius: $border-radius-circle2;
        overflow: hidden;

        image {
          width: 100%;
          height: 100%;
        }
      }

      @at-root .content-two-wrap {
        position: relative;
        margin-left: 50rpx;

        @at-root .comment-star-wrap {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          right: -$spacing-xxl;
          top: 0;
          width: 100rpx;
          text-align: center;

          @at-root .iconheart {
            display: block;
            font-size: 42rpx;
            color: $color-text-light;

            &.stared {
              color: $color-primary;
            }
          }

          @at-root .comment-star-count {
            position: relative;
            top: -8rpx;
            color: $color-text-light;
            font-size: $font-size-sm;

            &.stared {
              color: $color-primary;
            }
          }
        }
      }

      @at-root .comment-more-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $color-text-light;
        font-size: $font-size-sm;
        padding-bottom: 2*$spacing-lg;

        @at-root .comment-more-line {
          width: 40rpx;
          height: 2rpx;
          background: $color-black-2;
        }

        @at-root .comment-more-text {
          margin: 0 $spacing-sm;
        }

        @at-root .comment-more-icon {
          width: 0;
          height: 0;
          border-left: 7rpx solid transparent;
          border-right: 7rpx solid transparent;

          &.down {
            border-top: 10rpx solid $color-black-2;
          }

          &.up {
            border-bottom: 10rpx solid $color-black-2;
          }
        }
      }
    }

    @at-root .comment-placehold {
      text-align: center;
      font-size: $font-size-sm;
      color: $color-text-light;
      margin-top: 4*$spacing-lg;
      height: 80rpx;
    }
  }

  @at-root .comment-title-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    background: $background-color;
    z-index: $zindex-nav;

    @at-root .comment-title {
      text-align: center;
    }

    @at-root .comment-close-btn {
      position: absolute;
      width: 80rpx;
      height: 80rpx;
      top: 0;
      right: 0;

      .icon-font {
        float: right;
        text-align: center;
        color: $white;
        margin-right: $spacing-sm;
        width: 80rpx;
        height: 80rpx;
        line-height: 80rpx;
        font-size: $font-size-base;
      }
    }
  }

  @at-root .comment-footer-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    background: $black;
    z-index: $zindex-nav;

    .icon-font {
      position: absolute;
      right: 0;
      font-size: 50rpx;
      color: $color-text-light;

      &.iconat {
        right: 4*$spacing-xxl;
      }

      &.iconface {
        right: $spacing-xxl;
        font-weight: bold;
      }
    }

    @at-root .comment-footer-inner {
      padding: 0 $spacing-xxl;

      @at-root .comment-footer-text {
        color: $color-text-light;
      }
    }
  }
}