@import "@/theme";

.audits-records-list {
  padding: 30rpx;
  margin: 10rpx 0;

  @at-root .audits-records-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40rpx;

    @at-root .ari-avatar {
      width: 68rpx;
      height: 68rpx;
    }

    @at-root .ari-card {
      position: relative;
      flex: 1;
      margin: 0 30rpx;
      padding: 0 20rpx;
      color: #969799;
      box-shadow: 0 0 10rpx rgba(0, 0, 0, 0.1);
      background: white;
      border-radius: 8rpx;

      &::after {
        position: absolute;
        top: 26rpx;
        content: '';
        width: 0;
        height: 0;
        border: 10rpx solid transparent;
      }

      &.left {
        &::after {
          left: -20rpx;
          border-right-color: white ;
        }
      }

      &.right {
        &::after {
          right: -20rpx;
          border-left-color: white ;
        }
      }

      @at-root .ari-title {
        display: flex;
        align-items: center;
        height: 80rpx;
        font-size: 28rpx;
        @include hairline-bottom;
        
        @at-root .ari-operator {
          color: black;
          margin-right: 10rpx;
        }
      }

      @at-root .ari-content {
        padding: 20rpx 0;

        @at-root .ari-sub-title {
          color: #000000;
          font-size: 28rpx;
        }

        @at-root .ari-contents {
          color: #969799;
          font-size: 24rpx;

          .red {
            color: #FE2C54;
          }

          @at-root .ari-content-row {
            display: flex;
            align-items: flex-start;
            color: #999999;
            line-height: 40rpx;

            @at-root .ari-content-label {
              width: 120rpx;
              flex-shrink: 0;
            }
          }
        }

        @at-root .ari-enclosures {
          display: flex;
          justify-content: flex-start;
          width: calc(100% + 20rpx);
          margin-top: 20rpx;

          .label {
            color: #969799;
            font-size: 24rpx;
            width: 120rpx;
            flex-shrink: 0;
          }

          .enclosures {
            flex: 1;

            image {
              width: 96rpx;
              height: 96rpx;
              border-radius: 8rpx;
              margin-right: 20rpx;
            }
          }
        }
      }
    }
  }
}