@import "ui-kit/style/variables/default.scss";
@import "ui-kit/style/mixins/index.scss";

.my-header-wrap {
  background: #F8FAFC;
  padding: 150rpx 30rpx 40rpx;

  @at-root .my-header-inner {
    display: flex;
    justify-content: flex-start;

    .my-option {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .flex-wrap {
        display: flex;
        align-items: center;

        .img {
          width: 48rpx;
          height: 48rpx;
        }
      }
    }

    .avatar {
      width: 140rpx;
      height: 140rpx;
      border-radius: 9999px;
      margin-right: 20rpx;
      overflow: hidden;

      .img {
        width: 140rpx;
        height: 140rpx;
      }
    }

    @at-root .my-header-btns {
      flex-grow: 1;
      margin-top: 20rpx;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @at-root .my-header-btn {
        position: relative;
        font-size: 36rpx;
        color: #141414;

        @at-root .navigator-hover {
          background: transparent;
        }

        &.mid-item {
          width: calc(100% - 100rpx);
          @include line(2);
        }
      }
    }
  }
}