@import "@/theme";

$product-width: 346rpx;

.product {
  width: $product-width;
  border-radius: $border-radius-lg;
  overflow: hidden;
  background-color: white;
  position: relative;
  margin-bottom: $spacing-v-lg;

  &-img {
    width: $product-width;
    height: $product-width;
  }

  &-live {
    position: absolute;
    top: $spacing-h-lg;
    left: 0;
    padding: $spacing-v-xs $spacing-h-md;
    background-color: rgba($color: $color-brand, $alpha: 0.7);
    color: white;
    border-radius: 0 20rpx 20rpx 0;

    &,
    &::before {
      display: inline-block;
    }

    &::before {
      $point-size: 18rpx;

      align-self: center;
      content: '';
      width: $point-size;
      height: $point-size;
      border-radius: $border-radius-circle;
      background-color: white;
      margin-right: 8rpx;
      line-height: $line-height-sm;
    }
  }

  &-info {
    width: 100%;
    padding: $spacing-v-md $spacing-v-lg $spacing-v-md;

    &--title {
      width: 100%;
      color: $color-text-base;
      line-height: $line-height-base;
      @include line(2);
      margin-bottom: $spacing-h-sm;
    }

    &--tip {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      view {
        padding: 0 $spacing-v-sm;
        margin: 0 $spacing-h-sm $spacing-h-sm 0;
        background-color: $color-brand;
        color: white;
        font-size: $font-size-xs;
        line-height: $line-height-xs;
        border-radius: $border-radius-md;
      }
    }

    &--bottom {
      width: 100%;
      @include flex-row-nowrap;
      justify-content: space-between;
    }

    &--buy {
      padding: 0 $spacing-h-md;
      border: 1rpx $color-brand solid;
      border-radius: 999rpx;

      view {
        color: $color-brand;
      }
    }
  }
}
