@import "@/theme";

.logistics-address-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 20rpx 30rpx;
  margin-top: 16rpx;

  @at-root .la-left {
    flex: 1;

    @at-root .la-contact-person {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 28rpx;
      font-weight: bold;
      color: #2D2D2D;
      margin-bottom: 16rpx;
      line-height: 32rpx;
  
      .name {
        margin-right: 60rpx;
      }
    }
  
    @at-root .la-contact-address {
      font-size: 24rpx;
      color: #2D2D2D;
      line-height: 32rpx;
    }
  }

  .btn {
    color: #2D2D2D;
    font-size: 20rpx;
    width: 100rpx;
    height: 44rpx;
    margin: 0;
    margin-left: 30rpx;
    border-width: 1rpx;
  }
}