@import "@/theme";

.hairline-vertical {
  @include hairline-top-bottom;
}

.hairline-bottom {
  @include hairline-bottom;
}

.button__fixed-width {
  min-width: 144rpx;
  padding: 0 10rpx;
}

.order {
  width: 100%;
  margin: 0;
  background-color: $color-white;
  margin-top: 20rpx;

  &-header {
    width: 100%;
    justify-content: space-between;

    &__title {
      color: #666666;
      line-height: $line-height-base;
      // flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;  
    }

    &__state {
      font-size: 28rpx;
      font-family: $font-cn;
      padding-left: 40rpx;

      &__red {
        color: #FE2C54;
      }

      &__black {
        color: #333333;
      }

      &__gray {
        color: #999999;
      }
    }
  }

  &-content {
    width: 100%;
    box-sizing: border-box;

    &__item {
      width: 100%;
      box-sizing: border-box;
      padding: 30rpx;
      @include flex-row-nowrap;
      background-color: $color-grey-7;
      align-items: center;
      @include hairline-bottom;

      &:last-child {
        margin-bottom: 0;

        &::after {
          content: none;
        }
      }

      &-thumbnail {
        flex: 0 0 auto;
        $thumbnail-size: 176rpx;

        width: $thumbnail-size;
        height: $thumbnail-size;
        margin-right: $spacing-h-lg;
        border-radius: $border-radius-md;
        overflow: hidden;

        image {
          width: 100%;
          height: 100%;
        }
      }

      &-detail {
        flex: 1;
        height: 176rpx;
        position: relative;

        &__title {
          font-size: 28rpx;
          font-family: $font-cn;
          color: $color-text-base;
          line-height: 34rpx;
          width: 100%;
          max-height: 2 * $line-height-base; // todo
          @include line(2);
        }

        &__specs {
          font-size: 24rpx;
          font-family: $font-cn;
          color: #999999;
          margin-top: 4rpx;
        }
      }

      &-bill {
        position: absolute;
        bottom: -8rpx;
        left: 0;
        width: 100%;
        @include flex-row-nowrap;
        align-items: flex-end;
        font-size: 24rpx;

        &__price {
          color: #333333;
          font-size: 28rpx;
          margin-bottom: -2rpx;
        }

        @at-root .ocib-original-price {
          margin-left: 10rpx;
          color: #969799;
          text-decoration: line-through;
        }

        &__quantity {
          flex-grow: 1;
          color: #969799;
          font-size: 24rpx;
          text-align: right;
        }
      }
    }
  }

  &-tail {
    width: 100%;
  }
}

.card__info {
  color: #969799;
  font-size: 24rpx;
  line-height: 44rpx;
}

.price-big {
  font-size: 32rpx;
  color: #141415;
}

.icon-shop {
  float: left;
  width: 32rpx;
  height: 32rpx;
  margin-right: 16rpx;
  opacity: .7;
}

.icon-right {
  float: left;
  width: 32rpx;
  height: 24rpx;
  margin-top: 6rpx;
  margin-left: 4rpx;
}

.shop-name {
  float: left;
  line-height: 36rpx;
  max-width: 320rpx;
  font-family: PingFangSC-Regular;
  font-size: 28rpx;
}

.order-item-state {
  float: right;
  color: #fe2c54;
  font-size: 28rpx;
}

.card-info-label {
  margin-right: 8rpx;
}