@import '@/assets/styles/index.scss';

.swiper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

// 覆盖掉原组件的默认样式
.comment-popup-wrap .hpopup-body{
  height: 1000rpx;
  border-top-left-radius: 20rpx;
  border-top-right-radius: 20rpx;
  background: #333333;
}

.snap-video-wrap .hpopup-mask{
  background: transparent;
}