@import "@/theme";

.recommend {
  width: 100%;
  background-color: $color-white;

  &-shop {
    padding: $spacing-v-xl $spacing-v-xl $spacing-h-md;

    &--header {
      $avatar-size: 98rpx;
      @include flex-row-nowrap;
      align-items: center;

      image {
        border-radius: $border-radius-md;
        width: $avatar-size;
        height: $avatar-size;
      }

      &__content {
        flex: 1;
      }
    }

    &--content {
      @include flex-row-nowrap;
      justify-content: space-between;
      align-items: center;

      &__item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &-content {
    @include flex-row-nowrap;
    width: 100%;
    overflow: scroll;
    padding: $spacing-h-lg $spacing-v-xl;
  }

  &-item {
    $item-size: 162rpx;

    width: $item-size;
    display: flex;
    flex-flow: column nowrap;

    &__image {
      width: $item-size;
      height: $item-size;
      align-self: center;
      border-radius: $border-radius-md;
    }


    &__title {
      color: $color-text-base;
      line-height: $line-height-base;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.rate {
  &-item {
    @include flex-row-nowrap;
    align-items: center;
  }

  &-label {
    $label-size: 32rpx;
    width: $label-size;
    height: $label-size;
    line-height: $label-size;
    text-align: center;
    color: $color-brand;
    border: 2rpx solid $color-brand;
    border-radius: $border-radius-md;
  }
}

.line {
  width: 2rpx;
  height: 128rpx;
  background-color: #f4f4f4;
}
