@import "@/theme";

$img-size: 182rpx;

.popup-radius {
  border-top-left-radius: $border-radius-xxl;
  border-top-right-radius: $border-radius-xxl;
}

.header-title {
  width: 100%;
  height: 100rpx;
  text-align: center;
  line-height: 100rpx;
  background-color: #f3f3f3;
}

/* info style begin */
.info {
  width: 100%;
  padding: $spacing-v-xl $spacing-h-xl;
  @include flex-row-nowrap;
  @include hairline-bottom;

  &-image {
    width: $img-size;
    height: $img-size;
    margin-right: $spacing-v-lg;
    border-radius: $border-radius-md;
  }

  &-detail {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  &-title {
    @include line(2);
  }

  &-price {
    font-size: $font-size-xxl;
    color: $color-brand;
  }

  &-selection {
    font-size: $font-size-base;
    color: $color-text-placeholder;
    font-family: $font-cn;
  }
}

/* info style end */

/* skus style begin */

.skus {
  width: 100%;
  box-sizing: border-box;
  padding-top: 6rpx;

  &-k {
    width: 100%;

    &-title {
      width: 100%;
      padding: 0;
      font-size: $font-size-base;
      font-family: $font-cn;
      color: $color-text-base;
    }
  }

  &-props {
    @include flex-row-nowrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
}

.skus-prop {
  padding: $spacing-v-sm $spacing-h-md;
  margin-right: $spacing-v-xxl;
  margin-top: $spacing-v-lg;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-cn;
  border-radius: $border-radius-lg;
  background-color: $color-bg-dark;
  color: $color-text-base;
}

.skus-prop-selected {
  background-color: $color-brand;
  color: $color-white;
}

.skus-prop-disabled {
  opacity: $opacity-disabled;
}

/* skus style end */

/* count selector style begin */

.count-container {
  width: 100%;
  padding: $spacing-v-xxl 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.count-title {
  font-size: $font-size-lg;
  font-family: $font-cn;
  color: $color-text-base;
  align-self: center;
}

/* count selector style end */

/* action container style begin */

.action-container {
  width: 100%;
  margin-top: $spacing-v-lg;
  padding: $spacing-v-xl $spacing-h-xl;
}

/* action container style end */
