@import './assets/iconfont.scss';


.comment-wrap{
  color: white;
  height: 100%;
  background: #333;
  opacity: .9;
  font-size: 28rpx;

  @at-root .comment-item-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100rpx 0;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    z-index: -1;

    @at-root .comment-item{
      &.level-one{
        padding: 0 30rpx;
        margin-bottom: 40rpx;
      }
    
      &.level-two{
        margin-top: 30rpx;
      }

      @at-root .avatar-one{
        float: left;
        width: 60rpx;
        height: 60rpx;
        border-radius: 60rpx;
        overflow: hidden;
      
        image{
          width: 100%;
          height: 100%;
        }
      }

      @at-root .content-one-wrap{
        padding-left: 80rpx;

        @at-root .content-one-inner{
          position: relative;
          
          @at-root .content-nickname{
            color: gray;
            font-size: 24rpx;
          }

          @at-root .content-comment{
            padding-right: 80rpx;

            @at-root .content-commenttime{
              display: inline-block;
              color: gray;
              font-size: 24rpx;
            }

            @at-root .content-reply-name{
              color: grey;
            }
          }
        }
      }

      @at-root .avatar-two{
        float: left;
        width: 40rpx;
        height: 40rpx;
        border-radius: 40rpx;
        overflow: hidden;
      
        image{
          width: 100%;
          height: 100%;
        }
      }

      @at-root .content-two-wrap{
        position: relative;
        padding-left: 50rpx;
      
        @at-root .comment-star-wrap{
          position: absolute;
          right: -30rpx;
          top: 0;
          width: 100rpx;
          text-align: center;
          overflow: hidden;
      
          @at-root .iconheart{
            display: block;
            font-size: 46rpx;
            color: gray;
          
            &.stared{
              color: #f50005;
            }
          }
      
          @at-root .comment-star-count{
            position: relative;
            top: -8rpx;
            color: gray;
            font-size: 24rpx;
          }
        }
      }
    }
  }

  @at-root .comment-title-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    background: #333;
    z-index: 9999;
  
    @at-root .comment-title{
      text-align: center;
    }
  
    @at-root .comment-close-btn{
      position: absolute;
      width: 100rpx;
      height: 100rpx;
      top: 0;
      right: 0;
    
      .icon-font{
        display: inline-block;
        text-align: center;
        color: white;
    
        &.icondelete{
          width: 100rpx;
          height: 100rpx;
          line-height: 100rpx;
        }
      }
    }
  }

  @at-root .comment-footer-wrap{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    background: #111;
    z-index: 9999;
  
    .icon-font{
      position: absolute;
      right: 0;
      font-size: 50rpx;
      color: gray;
  
      &.iconat{
        right: 120rpx;
      }
  
      &.iconface{
        right: 30rpx;
        font-weight: bold;
      }
    }
  
    @at-root .comment-footer-inner{
      padding: 0 30rpx;
    
      @at-root .comment-footer-text{
        color: gray;
      }
    }
  }
}