@import "../../../../kol.scss";

.list {
  width: 100%;
  padding: 20rpx;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.item {
  margin-right: 16rpx;
  margin-bottom: 16rpx;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.loading {
  width: 100%;
  padding-top: 40rpx;
  color: #999;
}