
page {
  background: white;
}

.login-outer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  .login-inner {
    flex-grow: 1;

    .logo-wrap {
      width: 200rpx;
      height: 200rpx;
      border-radius: 9999px;
      overflow: hidden;
      margin: 0 auto 200rpx;
  
      .img {
        width: 100%;
        height: 100%;
      }
    }
  
    .login-btn {
      font-size: 32rpx;
      font-weight: bold;
      margin: 30rpx 80rpx;
  
      &.plain {
        color: #666666;
        background: white;
        border: 1rpx solid #666666;
      }
    }
  }
}