@import "@/theme";

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $spacing-v-lg $spacing-h-lg;
  background-color: white;
  @include flex-row-nowrap;
  justify-content: flex-end;

  button {
    margin: 0;
  }
}