@import '@/assets/styles/index.scss';

.progress {
  position: relative;
  width: 100%;
  height: 8rpx;
  border-radius: $border-radius-sm;
  background: $color-grey-4;

  &__portion {
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: inherit;
  }

  &__loading {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    border-radius: inherit;
  }

  &__pivot {
    position: absolute;
    top: 50%;
    right: 0;
    box-sizing: border-box;
    min-width: 2em;
    padding: 0 $spacing-base;
    font-size: $font-size-xs;
    line-height: 1.6;
    text-align: center;
    word-break: keep-all;
    border-radius: 1em;
    transform: translateY(-50%);
    background-color: $color-grey-4;
  }

  &__dot__pivot {
    position: absolute;
    top: 50%;
    right: 0;
    width: 16rpx;
    height: 16rpx;
    border-radius: 16rpx;
    transform: translate(100%, -50%);
  }
}
