$poster-height: 750rpx;

.posters {
  width: 100%;
  height: $poster-height;

  swiper {
    width: 100%;
    height: 100%;

    swiper-item {
      width: 100%;
      height: 100%;

      image {
        width: 100%;
        height: 100%;
      }
    }
  }
}