/**
  * Avatar Component
  */

:host {
    display: inline;
}

.mf_avatar {
    overflow: hidden;

    &__circle {
        border-radius: 100%;
    }

    // 小程序在处理图片的时 `inline-block` 会造成像素差
    image {
        display: block;
    }
}
