@import "@/theme";

.container {
  background-color: #fafafa;
  padding: 0;
  height: 100vh;
  display: block;
}

component {
  background-color: #fafafa;
}

.m-l-xxl {
  margin-left: 50rpx;
}

.f-base {
  line-height: $line-height-base;
  font-family: $font-cn;
  font-size: $font-size-base;
  color: $color-text-base;
}

.address {
  width: 100%;
  padding: $spacing-v-xl $spacing-v-xl 0;
  margin-bottom: $spacing-v-md;
  background-color: white;

  &--empty {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 288rpx;

    image {
      width: 148rpx;
      height: 148rpx;
      margin: 0 auto;
    }

    view {
      margin-top: 52rpx;
      width: 100%;
      font-size: 32rpx;
      color: #CCCCCC;
      text-align: center;
    }
  }

  &-header {
    @include hairline-bottom;
    padding-bottom: $spacing-v-md;

    &--name {
      display: inline-block;
    }
  }

  &-actions {
    width: 100%;
    @include flex-row-nowrap;

    &--item {
      @include flex-row-nowrap;
      align-items: center;

      .icon {
        font-size: 40rpx;
      }
    }
  }
}

.icon-color {
  color: #C7C5CA;
}

.bold {
  font-weight: bolder;
}

.flex-1 {
  flex: 1;
}

.padding-bottom {
  padding-bottom: 200rpx;
}
