@import "@/theme";

page {
  width: 100%;
  background-color: #f3f3f3;
}

.white-back {
  background-color: #fff;
}

.margin-top {
  margin-top: $spacing-v-lg;
}

.btn {
  width: 100%;
  padding: $spacing-v-lg $spacing-h-lg;
  box-sizing: border-box;
}