// List Component

.mf_list {
    overflow: hidden;

    image {
        display: block;
        width: 100%;
    }

    &_container {
        column-rule: none;
        column-fill: auto;
    }

    &_col {
        display: flow-root;

        break-inside: avoid;
        break-after: avoid;
        break-before: avoid;
        column-span: none;
    }
}
