@import "@/theme";

.card {
  border-radius: 12rpx;
  box-shadow: 0 6px 10px 0 #e3e8f3;

  &__content {
    padding: 30rpx 10rpx;
  }
}

.card__info {
  @include flex-row-nowrap;

  .item {
    width: 25%;
    text-align: center;

    image {
      $icon-size: 80rpx;
      width: $icon-size;
      height: $icon-size;
    }

    view {
      font-size: 28rpx;
      color: #666;
    }
  }
}

.contact-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
