@import "@/theme";

page {
  padding-bottom: 200rpx;
}

.desc {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: $spacing-v-lg $spacing-h-lg;
  background-color: $color-white;

  &-price {
    font-size: 52rpx;
    font-weight: bolder;
  }

  &-title {
    width: 90%;
    line-height: $line-height-lg;
    @include line(2);
  }

  &-sold {
    font-size: $font-size-base;
    font-family: $font-cn;
    color: $color-text-placeholder;
  }

  &-service {
    position: absolute;
    top: $spacing-v-xxl;
    right: $spacing-h-lg;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .icon {
      font-size: 40rpx;
    }

    view {
      color: #B0AFB6;
    }
  }
}

.qualification {
  width: 100%;
  box-sizing: border-box;
  padding: $spacing-v-sm $spacing-h-lg;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  view {
    font-size: $font-size-base;
    font-family: $font-cn;
    color: $color-text-base;
  }
}

.detail-title {
  width: 100%;
  padding: $spacing-v-md $spacing-h-lg;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  color: $color-text-base;

  &::before {
    content: "";
    width: 20%;
    height: 2rpx;
    background-color: $color-border-base;
    display: inline-block;
    vertical-align: middle;
    margin-right: $spacing-h-lg;
  }

  &::after {
    content: "";
    width: 20%;
    height: 2rpx;
    background-color: $color-border-base;
    display: inline-block;
    vertical-align: middle;
    margin-left: $spacing-h-lg;
  }
}
