@import "@/theme";

.action-bar {
  width: 100%;
  padding: 16rpx 30rpx;
  box-sizing: border-box;
  background-color: white;
  @include flex-row-nowrap;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 999;

  .total {
    @include flex-row-nowrap;
    margin-right: $spacing-h-lg;
    align-items: baseline;
    justify-content: flex-end;
    flex: 1;

    &__label {
      font-size: $font-size-lg;
      font-family: $font-cn;
      color: $color-text-base;
    }

    &__content {
      font-size: $font-size-lg;
      font-family: $font-cn;
      color: $color-error;
    }

  }

  .price {
    font-weight: bold;
    font-size: 48rpx;
    color: #F32953;
  }

  .check-box {
    flex: 1;
  }

  button {
    width: 220rpx;
    height: 68rpx;
    margin: 0;
    font-size: 32rpx;
    padding: 0;
  }
}
