@import "@/theme";

$bar-height: 94rpx;

.action-bar {
  width: 100%;
  background-color: white;
  height: $bar-height;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  @include flex-row-nowrap;
  align-items: stretch;
  border-bottom: 1rpx solid $color-border-base;

  .left {
    flex: 1;
    @include flex-row-nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .total {
    view {
      display: inline;
    }
  }

  button {
    height: 100%;
    width: 184rpx;
  }
}
