@mixin transition($animation) {
    transition-timing-function: $animation;
}

/* 占满全屏 */
@mixin full-screen() {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Flexible 布局 */
@mixin flex(
    $direction: row,
    $wrap: nowrap,
    $justify: flex-start,
    $align-items: stretch
) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align-items;
}

/* 文本不换行 */
@mixin no-wrap() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
