@import "ui-kit/style/variables/default.scss";
@import "ui-kit/style/mixins/index.scss";

@keyframes bullet {
  0% {
    left: 100%;
    width: 100%;
  }

  10% {
    left: 30rpx;
    width: auto;
  }

  80% {
    left: 30rpx;
    width: auto;
    opacity: 1;
  }

  100% {
    left: 30rpx;
    width: auto;
    opacity: 0;
  }
}

.bullet-animate {
  animation: bullet 3s linear forwards;
}

.bullet-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  height: 76rpx;
  left: 30rpx;
  z-index: 200;

  @for $i from 0 to 3 {
    &.item-#{$i} {
      bottom: calc(700rpx + #{$i} * 90rpx);
      bottom: calc(700rpx + #{$i} * 90rpx + constant(safe-area-inset-bottom));
      bottom: calc(700rpx + #{$i} * 90rpx + env(safe-area-inset-bottom));
    }
  }

  .bullet-avatar {
    width: 76rpx;
    height: 76rpx;
    border-radius: 9999px;
    margin-right: 20rpx;
    overflow: hidden;

    .img {
      width: 100%;
      height: 100%;
    }
  }

  .bullet-inner {
    display: flex;
    align-items: center;
    height: 76rpx;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 9999px;

    .bullet-product-img {
      width: 62rpx;
      height: 62rpx;
      border-radius: 9999px;
      overflow: hidden;
      margin: 0 8rpx;
  
      .img {
        width: 100%;
        height: 100%;
      }
    }
  
    .bullet-text {
      color: white;
      max-width: 400rpx;
      font-size: 24rpx;
      height: 56rpx;
      padding-right: 20rpx;
      line-height: 28rpx;

      @at-root .line-two {
        @include line(2);
      }
  
      .behavior {
        color: #FFCA3E;
        margin-right: 10rpx;
      }
    }
  }
}