/**
 * Color
 */

// Common Color
$black: #000;
$white: #fff;
$red: #ee0a24;
$blue: #1989fa;
$orange: #ff976a;
$green: #07c160;
$gray: #c9c9c9;

// Default Color
$text-color: #333;
$border-color: #eee;
$active-color: #f2f3f5;
$background-color: #f8f8f8;
$background-color-light: #fafafa;
