@import '@/assets/styles/index.scss';

.add-section {
  $gray: #888;

  width: 100%;
  overflow: visible;
  position: relative;

  .popover {
    position: absolute;
    left: 50%;
    transition-property: transform opacity;
    transition-duration: 0.1s;
  }

  .popover__hidden {
    transform: translate(-50%, -$icon-size) scale(0);
    opacity: 0;
  }

  .popover-shown__bottom {
    transform: translate(-50%, 50%) scale(1);
    opacity: 1;
  }

  .popover-shown__top {
    transform: translate(-50%, -110%) scale(1);
    opacity: 1;
  }

  .content {
    position: relative;
    box-shadow: 0 2rpx 8rpx 8rpx #eee;
    display: flex;
    flex-flow: row wrap;
    width: ($icon-size-lg + $spacing-lg) *4;
    border-radius: $border-radius-lg;
    background-color: $white;
    padding: $spacing-lg;
    justify-content: space-between;

    .item {
      width: $icon-size-lg;
      display: flex;
      flex-flow: column nowrap;
      margin: 0 $spacing-sm;

      view {
        align-self: center;
      }

      .item-icon {
        background: #888;
        width: $icon-size-lg;
        height: $icon-size-lg;
      }

      .item-text {
        margin-top: $spacing-sm;
        font-size: $font-size-sm;
      }
    }
  }

  .content__bottom::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border: 14rpx solid transparent;
    border-bottom-color: #fff;
    top: -20rpx;
    left: 50%;
    transform: translateX(-50%);
  }

  .content__top::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border: 14rpx solid transparent;
    border-top-color: #fff;
    bottom: -20rpx;
    left: 50%;
    transform: translateX(-50%);
  }

  .icon {
    width: $icon-size;
    height: $icon-size;
    line-height: $icon-size;
    color: $gray;
    margin: 0 auto;
    border-radius: 50%;
    border: 4rpx solid $gray;
    text-align: center;
  }
}
