/* tabs .wxss */

@import "@/assets/styles/index.scss";

.mf_tabs {
    @include flex($justify: space-between);
    background: $white;

    &-left,
    &-right {
        height: auto;
        width: auto;
    }

    &-content {
        flex: 1;
        @include flex($justify: space-between);

        @at-root &__scroll {
            flex: 1;
            @include flex($align-items: flex-start);

            // scroll view 中出现中文会折行
            white-space: nowrap;
        }
    }

    &__sticky {
        position: fixed;
    }
}
