// 隐藏
@mixin bounce-in($translate3d_center: translate3d(0, 0, 0), $duration: 0.3s) {

  @keyframes bounceIn {
    from {
      opacity: 1;
      transform: $translate3d_center scale3d(1, 1, 1);
    }
  
    to {
      opacity: 0;
      transform: $translate3d_center scale3d(0.01, 0.01, 1);
    }
  }

  animation-duration: $duration;
  animation-name: bounceIn;
  opacity: 0;
  transform: $translate3d_center scale3d(0, 0, 1);
}

// 弹出
@mixin bounce-out($translate3d_center: translate3d(0, 0, 0), $duration: 0.3s) {

  @keyframes bounceOut {
    from {
      opacity: 0.2;
      transform: $translate3d_center scale3d(0.1, 0.1, 1);
    }
  
    50%,
    55% {
      transform: $translate3d_center scale3d(1.1, 1.1, 1);
    }
  
    to {
      opacity: 1;
      transform: $translate3d_center scale3d(1, 1, 1);
    }
  }

  opacity: 1;
  animation-duration: $duration;
  animation-name: bounceOut;
}