// icon component

// 字体集，替换后更新 icon 集
@font-face {
    font-family: 'iconfont';  /* project id 1473357 */
    src: url('//at.alicdn.com/t/font_1473357_2i22caqkdfm.eot');
    src: url('//at.alicdn.com/t/font_1473357_2i22caqkdfm.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1473357_2i22caqkdfm.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1473357_2i22caqkdfm.woff') format('woff'),
    url('//at.alicdn.com/t/font_1473357_2i22caqkdfm.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1473357_2i22caqkdfm.svg#iconfont') format('svg');
  }

$icon: "mf_icon";

.#{$icon} {
    display: inline-block;

    &_body {
        font-family: "iconfont" !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    /**
      * 定义你自己的 `icon` 集
      *
      * 命名规范：
      * 1. 单词 - 保持独立，小写字符
      * 2. 多词 - 采用隔字符，不要用驼峰和下划线
      */

    &-back:before {
        content: "\e614";
    }

    &-right-arrow:before {
        content: "\e74b";
    }

    &-up-arrow:before {
        content: "\e6a5";
    }

    &-down-arrow:before {
        content: "\e6a4";
    }

    &-like:before {
        content: "\e601";
    }

    &-close:before {
        content: "\e6a6";
    }

    &-more:before {
        content: "\e602";
    }

    &-checked:before {
        content: "\e610";
    }

    &-search:before {
        content: "\e603";
    }

    &-home:before {
        content: "\e621";
    }

    &-up:before {
        content: "\e6a5";
    }

    &-down:before {
        content: "\e6a4";
    }

    &-info:before {
        content: "\e605"
    }
}
