page {
    box-sizing: border-box;
}

.mf_components-test-module {
    padding: 20rpx;
    margin: 30rpx 0;

    &_title {
        margin-bottom: 10rpx;
    }

    &_border {
        border: 1rpx solid #ccc;
        margin-bottom: 5rpx;
    }
}