// List Item Article Component
@import "@/assets/styles/index.scss";

.mf_list-item-article {
    padding: $spacing-xl;
    background: $white;

    &_title {
        margin-bottom: $spacing-lg;
        font-size: $font-size-xl;
        line-height: $line-height-xl;
        @include ellipsis();
    }

    &_summary {
        position: relative;
        margin-bottom: $spacing-lg;
        font-size: $font-size-base;
        line-height: $line-height-base;
        @include multi-ellipsis(3);

        &_readmore {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: $white;
            opacity: 0.9;
            font-size: $font-size-lg;
            font-weight: bold;
            line-height: $line-height-lg;
            color: $color-primary;
            text-align: center;
        }
    }

    &_meta {
        @include flex($justify: space-between, $align-items: center);
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        color: $color-text-light;

        &-author {
            @include flex($align-items: center);

            > view {
                margin-left: $spacing-base;
            }
        }

        &-stats {
            @include flex();
        }

        &-stat {
            @include flex();
            margin-left: $spacing-xl;

            &_title {
                margin-left: $spacing-base;
            }
        }
    }
}
