@import '@/assets/styles/index.scss';


// 文章关注栏
.article-tab-wrap{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10rpx 40rpx;
  background: white;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1000;

  @include hairline(#eee, bottom);

  @at-root .article-tab-avatar-wrap{
    display: flex;
    align-items: center;

    @at-root .article-tab-avatar{
      width: 66rpx;
      height: 66rpx;
      border-radius: 50%;
    }

    @at-root .article-author-nickname{
      margin-left: 20rpx;
    }
  }

  @at-root .article-follow-share{
    display: flex;
    align-items: center;

    @at-root .article-follow-btn{
      width: 124rpx;
      height: 50rpx;
      line-height: 50rpx;
      border-radius: 200rpx;
      color: #fefefe;
      margin-right: 30rpx;
      text-align: center;
      background: #FF2741;
    }

    @at-root .article-share{
      font-size: 46rpx;
      color: #666666;
    }
  }
}