// List Item Home Component

@import "@/assets/styles/index.scss";

.mf_list-item-home {
    overflow: hidden;
    background: $white;
    border-radius: 8rpx;
    margin-bottom: $spacing-v-md;

    $desc-distance: $spacing-v-md;

    &_detail {
        padding: 0 $desc-distance;
        font-size: $font-size-base;
    }

    &_desc {
        margin: $desc-distance 0;
        line-height: $font-size-base + 10rpx;
        @include multi-ellipsis(2);
    }

    &_author {
        @include flex($justify: space-between, $align-items: center);
        margin: $desc-distance 0;

        &_avatar {
            @include flex($align-items: center);
        }

        &_name {
            margin-left: $spacing-h-sm;
            font-size: $font-size-xs;
            color: $color-text-bullet;
        }

        &_social {
            @include flex($align-items: center);

            &__number {
                margin-left: $spacing-h-sm;
            }
        }
    }
}
