@import "@/theme";

$tabbar-height: 108rpx;
$item-color: #B0AFB6;
$item-size: 28rpx;

.action-bar {
  height: $tabbar-height;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  @include flex-row-nowrap;
  justify-content: space-between;
  box-sizing: content-box;
  background-color: white;
}

.action-bar-left {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
  height: $tabbar-height;
  justify-content: space-around;
}

.action-bar-left-item {
  width: 160rpx;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.action-bar-item {
  &__icon {
    width: 44rpx;
    height: 44rpx;
  }

  &__title {
    margin-top: 12rpx;
    font-size: 24rpx;
  }
}

.action-bar-btn {
  height: $tabbar-height;
  color: #fff;
  font-family: $font-price;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.original-price {
  width: 240rpx;
  background: #FF869F;
}

.neigou-price {
  width: 348rpx;
  background: #F32953;
}

.only-original {
  height: $tabbar-height;
  width: 588rpx;
  @include flex-row-nowrap;
  justify-content: center;
  align-items: center;
  background: #F32953;
  font-family: $font-price;

  view {
    color: #fff;
  }
}

.shadow {
  box-shadow: 0 6rpx 20rpx rgba($color: #000000, $alpha: 0.3);
}

// .action-bar {
//   width: 100%;
//   padding-left: $spacing-h-lg;
//   padding-right: $spacing-h-lg;
//   padding-top: $spacing-v-lg;
//   box-sizing: border-box;
//   @include flex-row-nowrap;
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background-color: $color-white;

//   &__btn {
//     display: flex;
//     flex-flow: column nowrap;
//     align-items: center;
//     padding-right: $spacing-h-lg;
//     align-self: center;

//     &-icon {
//       width: $icon-size-md;
//       height: $icon-size-md;

//       color: #000;
//       background-color: $color-grey-5;
//       font-size: $font-size-xs;
//     }

//     &-text {
//       color: $color-text-base;
//       font-size: $font-size-sm;
//     }
//   }
// }

// .shopping-btn {
//   flex: 1;
//   box-sizing: content-box;
//   @include flex-row-nowrap;
//   border-radius: 999rpx;
//   overflow: hidden;

//   &__cart {
//     border-left: $color-brand 1rpx solid;
//     border-top-left-radius: 999rpx !important;
//     border-bottom-left-radius: 999rpx !important;
//   }
// }
