@import '@/assets/styles/index.scss';

.comment-input-popup-wrap{
  position: absolute;
  z-index: $zindex-mask;
  font-size: $font-size-base;

  @at-root .comment-input-wrap{
    background: $white;
    overflow: hidden;
  
    .icon-font{
      position: absolute;
      right: 0;
      top: $spacing-xl;
      font-size: 50rpx;
      color: $color-text-lighter;
    }
  
    .iconat{
      right: 4*$spacing-xxl;
    }
  
    .iconface{
      right: $spacing-xxl;
      font-weight: bold;
      z-index: 999;
    }
  
    @at-root .comment-input-pholder{
      height: 1000rpx;
    }
  
    @at-root .comment-input-inner{
      overflow: hidden;
    
      .comment-input{
        height: 100rpx;
        width: calc(100% - 20px);
        padding: 0 $spacing-lg;
        margin: $spacing-sm $spacing-sm 0;
        box-sizing: border-box;
        background: $color-bg;
        border-radius: $border-radius-md;
      }
    
      .footer-wrap{
        height: 100rpx;
        padding: 0 $spacing-xxl;
        box-sizing: border-box;
        color: $color-text-placeholder;
    
        .footer-note{
          float: right;
          line-height: 100rpx;
          margin-right: $spacing-xxl;
        }
    
        .footer-send-btn{
          float: right;
          height: 60rpx;
          line-height: 20rpx;
          margin-top: $spacing-lg;
          padding: $spacing-lg 2*$spacing-lg;
          background: $color-bg-dark;
          border-radius: $border-radius-circle2;
          box-sizing: border-box;
    
          &.active{
            color: $white;
            background: rgb(3, 210, 247);
          }
        }
      }
    }
  }
}