@import "@/theme";

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover-layout {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 $spacing-h-lg;
  background-color: rgba($color: #000000, $alpha: 0.8);
}

.title {
  width: 100%;
  padding-bottom: $spacing-v-lg;
  margin-top: 20vh;
  @include hairline-bottom;

  input {
    font-size: 40rpx;
    color: white;
  }
}

.cover {
  width: 100%;
  margin-top: 60rpx;

  &--label {
    color: white;
    font-size: 28rpx;
  }

  &--image {
    $hint-size: 300rpx;
    width: $hint-size;
    height: $hint-size;
    margin-top: 30rpx;
    border-radius: 8rpx;
    overflow: hidden;

    image {
      width: 100%;
      height: 100%;
    }
  }

  &--hint {
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    image {
      $img-size: 72rpx;
      width: 72rpx;
      height: 72rpx;
    }

    &--label {
      color: #999;
      font-size: 28rpx;
      margin-top: 20rpx;
    }
  }
}

