/* Default Variables */
@import "ui-kit/style/variables/default.scss";

/* Base Mixins */
@import "ui-kit/style/mixins/index.scss";

/* Custom Mixins */
@mixin flex-row-nowrap {
  @include display-flex;
  @include flex-wrap(nowrap);
  @include flex-direction(row);
}

@mixin ellipsis($line: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}
