@import '@/assets/styles/index.scss';

@keyframes popUp {
  0% {
    transform: translateY(100%);
  }

  80% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0%);
  }
}

.hpopup-body {
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;
}

.select-creator-inner {
  display: flex;
  justify-content: space-around;
  height: 320rpx;
  padding: 50rpx 0;

  @at-root .select-creator-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-base;
    transform: translateY(100%);

    @for $i from 1 to 4 {
      &.pop-up-#{$i} {
        animation: popUp 360ms ease-out #{$i * 80}ms forwards;
      }
    }

    .image {
      width: 90rpx;
      height: 90rpx;
      margin-bottom: $spacing-lg;
    }
  }
}