@import "@/theme";

.red {
  color: $color-error;
}

.info {
  width: 100%;
  margin: $spacing-v-lg 0;
  background-color: white;

  .product {
    padding: $spacing-v-lg $spacing-h-lg;
    @include hairline-bottom;
    @include flex-row-nowrap;

    &-img {
      $img-size: 130rpx;

      width: $img-size;
      height: $img-size;
      margin-right: $spacing-h-lg;
      overflow: hidden;
      border-radius: $border-radius-md;

      image {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      width: 360rpx;

      view {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
    }

    &-account {
      flex: 1;

      view {
        width: 100%;
        text-align: right;
      }
    }
  }

  .detail {
    width: 100%;
    padding: $spacing-v-lg $spacing-h-lg;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color-text-base;
  }
}
