@import '../../assets/styles/animate/bounce-in-out.scss';

.bounceOut .hpopup-body{
  @include bounce-out(translate3d(-50%, -50%, 0));
}

.bounceIn .hpopup-body{
  @include bounce-in(translate3d(-50%, -50%, 0));
}


.page-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hello-wrap {
  padding: 200rpx;
}

.test-popup{
  width: 600rpx;
  height: 600rpx;
  background: red;
}