// Button Component
// 看到很多 important
// 是因为微信很脑残，微信内部渲染机制把原生样式优先级提高到 class 之前

@import "@/assets/styles/index";

.mf-button {
    min-width: 120rpx;
    min-height: 60rpx;
    border-radius: $border-radius-lg !important;
    font-family: $font-default !important;

    &_large {
        padding: $spacing-lg 0 !important;
        font-size: $font-size-lg !important;
        line-height: $line-height-lg !important;
    }

    &_mini {
        font-size: $font-size-base !important;
        // line-height: $line-height-base !important;
    }

    &_primary {
        background: $color-primary !important;
        border: 2rpx solid $color-primary !important;
        color: $white !important;
    }

    &_secondary {
        border: 2rpx solid $color-primary !important;
        color: $color-primary !important;
    }

    &_tertiary {
        border: 2rpx solid #ccc !important;
        color: $color-text !important;
    }

    &__circle {
        // todo auto set border-radius
        border-radius: 30rpx !important;
    }

    &__actived {
        opacity: $opacity-actived !important;
    }

    &__disabled {
        opacity: $opacity-disabled !important;
    }
}

.mf-button__circle.mf-button_large {
    border-radius: 46rpx !important;
}
