@import "@/assets/styles/index.scss";

page {
  background-color: $color-bg;
}

.gap-right {
  margin-right: $spacing-xxl;
}

.vote {
  .vote-options {
    background-color: $white;
    border-radius: $border-radius-lg;
    margin: $spacing-xxl $spacing-xxl;
    padding: 0 $spacing-xxl;

    .vote-option {
      position: relative;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      padding: $spacing-xxl 0;
      box-sizing: border-box;

      .option-circle {
        $size: $spacing-xxl * 1.4;

        width: $size;
        height: $size;
        border-radius: $border-radius-circle;
        border: $color-border 2rpx solid;
        align-self: center;
      }

      .option-text {
        flex: 1;

        input {
          width: 80%;
        }
      }

      // todo
      .option-remove {
        width: $spacing-xxl;
        height: $spacing-xxl;
        background-color: #888;
      }
    }

    .add {
      width: max-content;
      margin: 0 auto;
      padding: $spacing-xxl 0;
      color: $color-text-link;
    }
  }

  .addition {
    background-color: $white;
    border-radius: $border-radius-lg;
    margin: $spacing-xxl $spacing-xxl;
    padding: 0 $spacing-xxl;

    .option {
      padding: $spacing-xxl 0;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;

      .vote-text {
        color: $color-text-placeholder;
      }
    }
  }

  .vote-hint {
    color: $color-text-lighter;
  }
}

.border-bottom {
  border-bottom: $color-border 2rpx solid;
}

.submit {
  width: 100%;
  background-color: $white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 0;
}

.submit::after {
  border: none;
}