@import "../../theme.scss";

.product-list {
  width: 100%;
  box-sizing: border-box;
}

.product {
  $product-img-size: 132rpx;

  padding: $spacing-v-lg 0;
  width: 100%;
  box-sizing: border-box;

  @include flex-row-nowrap;
  @include hairline-bottom;

  &-img {
    width: $product-img-size;
    height: $product-img-size;
    margin-right: $spacing-h-md;
    border-radius: $border-radius-md;
  }

  &-desc {
    @include flex;
    position: relative;
    display: inline;

    &-title {
      width: 100%;
      color: $color-text-base;
      font-family: $font-cn;
      font-size: $font-size-base;
      @include line(2);
    }

    &-price {
      color: $color-price;
      font-size: $font-size-lg;
      position: absolute;
      bottom: 0;
      line-height: 1;
    }

    &-buy {
      width: 120rpx;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
