@import "@/theme";

.action-bar {
  width: 100%;
  padding-left: $spacing-h-lg;
  padding-right: $spacing-h-lg;
  padding-top: $spacing-v-lg;
  box-sizing: border-box;
  @include flex-row-nowrap;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-white;

  &__btn {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-right: $spacing-h-lg;
    align-self: center;

    &-icon {
      width: $icon-size-md;
      height: $icon-size-md;

      color: #000;
      background-color: $color-grey-5;
      font-size: $font-size-xs;
    }

    &-text {
      color: $color-text-base;
      font-size: $font-size-sm;
    }
  }
}

.shopping-btn {
  flex: 1;
  box-sizing: content-box;
  @include flex-row-nowrap;
  border-radius: 999rpx;
  overflow: hidden;

  &__cart {
    border-left: $color-brand 1rpx solid;
    border-top-left-radius: 999rpx !important;
    border-bottom-left-radius: 999rpx !important;
  }
}