@import '@/assets/styles/index.scss';

// 文章正文
.article-body-wrap{
  position: relative;
  background: white;
  padding: 3*$spacing-xxl $spacing-xxl;
  padding-bottom: $spacing-xxl;

  @include hairline($color-border, bottom);

  @at-root .cotent-title-wrap{
    padding: $spacing-xxl 0 $spacing-md;

    @at-root .cotent-title-text{
      font-size: $font-size-xxl;
      color: $color-text;
    }

    @at-root .cotent-state-wrap{
      margin: $spacing-xxl 0 $spacing-md 0;
      font-size: $font-size-lg;
      color: $color-black-3;

      @at-root .cotent-state-text{
        margin-right: $spacing-xxl;
      }
    }
  }

  @at-root .article-block{
    position: relative;
    margin-bottom: $spacing-xxl;
    overflow: hidden;

    .article-img{
      float: left;
      width: 100%;
    }

    @at-root .article-commodity-btn{
      position: absolute;
      bottom: $spacing-md;
      right: $spacing-md;
      height: 56rpx;
      background: rgba(0,0,0, 0.23);
      border-radius: $border-radius-lg;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .iconfont{
        background: rgba(0,0,0, 0.4);
        color: $color-warning;
        font-size: $font-size-xl;
        padding: $spacing-sm;
      }

      .text{
        font-size: $font-size-sm;
        padding: 0 $spacing-md;
        color: $white;
      }
    }
  }

  @at-root .article-video-wrap{
    position: relative;
    height: 400rpx;
    overflow: hidden;

    @at-root .article-video{
      width: 100%;
      height: 100%;
    }
  }

  @at-root .article-body-text{
    line-height: 2;
    color: $color-text;
    letter-spacing: .8px;
  }

}