@import "ui-kit/style/variables/default.scss";
@import "ui-kit/style/mixins/index.scss";

.my-order-outline {
  background: white;
  margin: 30rpx;
  border-radius: 25rpx;
  color: #333;

  .order-outline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20rpx 30rpx;
    @include hairline-bottom($color: #ddd);

    .title {
      font-size: 28rpx;
      font-weight: bold;
    }

    .check-more-order {
      display: flex;
      align-items: center;
      font-size: 24rpx;
      color: #979DA5;
    }
  }

  .order-outline-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50rpx 0;

    .order-outline-item {
      display: flex;
      align-items: center;
      flex-direction: column;

      .img {
        width: 48rpx;
        height: 48rpx;
        margin-bottom: 10rpx;
      }

      .text {
        font-size: 24rpx;
      }
    }
  }
}

.navigator-hover {
  background: transparent;
}