/* tab .wxss */
@import "@/assets/styles/index.scss";

:host {
    flex: 1;
}

.mf_tab {
    position: relative;
    overflow-y: hidden;

    // scroll view 中使用 view 会出现问题
    display: inline-block;

    @include ellipsis();

    &_content {
        padding:$spacing-h-md $spacing-h-lg;
        font-size: $font-size-xl;
        text-align: center;
    }

    &_dash {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 60%;
        height: 4rpx;

        background: $color-primary;
        margin: auto;
    }

    &__on {
        color: $color-primary;
    }

    &__disabled {
        color: $color-text-bullet;
    }
}
