@import "@/theme";

.hairline-vertical {
  @include hairline-top-bottom;
}

.hairline-bottom {
  @include hairline-bottom;
}

.button__fixed-width {
  width: 144rpx;
}

.order {
  width: 100%;
  margin: 0;
  background-color: $color-white;
  margin-bottom: $spacing-v-md;

  &-header {
    width: 100%;
    justify-content: space-between;

    &__title {
      color: $color-text-base;
      line-height: $line-height-base;
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__state {
      font-size: $font-size-base;
      font-family: $font-cn;

      &__red {
        color: $color-error;
      }
    }
  }

  &-content {
    width: 100%;
    box-sizing: border-box;

    &__item {
      width: 100%;
      box-sizing: border-box;
      padding: $spacing-v-lg;
      @include flex-row-nowrap;
      background-color: $color-grey-7;
      align-items: flex-start;

      &-thumbnail {
        flex: 0 0 auto;
        $thumbnail-size: 130rpx;

        width: $thumbnail-size;
        height: $thumbnail-size;
        margin-right: $spacing-h-lg;
        border-radius: $border-radius-md;
        overflow: hidden;

        image {
          width: 100%;
          height: 100%;
        }
      }

      &-detail {
        flex: 1;
        position: relative;
        width: 340rpx;

        &__title {
          font-size: $font-size-base;
          font-family: $font-cn;
          color: $color-text-base;
          line-height: $line-height-base;
          width: 100%;
          max-height: 2 * $line-height-base; // todo
          @include line(2);
        }

        &__specs {
          font-size: $font-size-base;
          font-family: $font-cn;
          color: $color-text-placeholder;
          margin-top: $spacing-v-sm;
        }
      }

      &-bill {
        flex: 0 0 auto;

        view {
          width: 100%;
          text-align: right;
        }

        &__price {
          color: $color-error;
        }

        &__quantity {
          color: $color-text-base;
        }
      }
    }
  }

  &-tail {
    width: 100%;
    padding-top: $spacing-v-md;

    &__bill {
      width: 100%;
      padding: 0 $spacing-h-lg $spacing-v-lg;
      position: relative;

      &-poster {
        position: absolute;
        top: 0;
        left: $spacing-h-lg;
        font-size: $font-size-base;
        color: $color-text-placeholder;
        font-family: $font-cn;
        display: inline-block;
        vertical-align: middle;

        image {
          width: 26rpx;
          height: 22rpx;
        }
      }

      &-item {
        width: 100%;
        font-size: $font-size-base;
        color: $color-text-base;
        font-family: $font-cn;
        text-align: right;
      }
    }


    &__actions {
      @include flex-row-nowrap;
      @include hairline-top;
      padding: $spacing-v-md $spacing-h-lg;
      justify-content: flex-end;

      button {
        margin: 0 0 0 $spacing-h-lg;
      }
    }
  }
}
