/**
 * Size
 */

@import "../utils.scss";

/* Border Radius */
$border-radius-sm: units(4) !default;
$border-radius-md: units(6) !default;
$border-radius-lg: units(8) !default;
$border-radius-card: units(20) !default;
$border-radius-circle: 50% !default;
$border-radius-circle2: 9999px !default;

/* Spacing */
$spacing-base: units(5) !default;
$spacing-sm: $spacing-base * 2 !default;
$spacing-md: $spacing-base * 3 !default;
$spacing-lg: $spacing-base * 4 !default;
$spacing-xl: $spacing-base * 5 !default;
$spacing-xxl: $spacing-base * 6 !default;

/* Icon */
$icon-size: units(44) !default;
$icon-size-sm: units(36) !default;
$icon-size-lg: units(72) !default;

/* Opacity */
$opacity-actived: 0.6 !default;
$opacity-disabled: 0.3 !default;

/* Shadow */
$box-shadow: 0 units(2) units(4) 0 rgba(0,0,0,0.11);

/* Form */
$form-label-base: 132rpx;
$form-label-lgest: 224rpx;

/* Live Room */
$room-width: 120rpx;
