@import "../variables/default.scss";
@import "../mixins/index.scss";

.badge {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    /* elements */
    &--dot {
        position: absolute;
        top: -$badge-dot-size / 4;
        right: -$badge-dot-size / 2;
        width: $badge-dot-size;
        height: $badge-dot-size;
        border-radius: $border-radius-circle;
        overflow: hidden;
        background: $badge-color-bg;
    }

    &--num {
        position: absolute;
        top: -$badge-dot-size / 2;
        right: -$badge-dot-size / 2;
        overflow: hidden;
        background: $badge-color-bg;
        padding: 0 $spacing-h-sm;
        border-radius: $badge-border-radius;
        color: $badge-color-text;
        font-size: $badge-font-size;
        line-height: 1.4;
        transform: translate(50%, 0);

        //   box-shadow: $at-badge-box-shadow;
        //   z-index: 1;
    }
}
