@import "../variables/default.scss";
@import "../mixins/index.scss";

.checkbox {
    @include display-flex();

    &__left {
        flex: 0 0 auto;
        margin-right: size(10);
    }

    &__right {
        flex: 1;
        @include display-flex();
        overflow: hidden;
        flex-flow: column nowrap;
    }

    &__icon {
        @include display-flex();
        @include align-items(center);
        padding: size(3);
        border: size(1) solid $color-text-base;
        border-radius: $border-radius-circle;

        &__icon {
            visibility: hidden;
            font-size: $checkbox-icon-size;
            color: $checkbox-icon-color-checked;
        }

        &--checked {
            border-color: $checkbox-icon-color;
            background: $checkbox-icon-color;

            .checkbox__icon__icon {
                visibility: visible;
            }
        }
    }

    &__label {
        @include line();
        font-size: $checkbox-title-font-size;
        color: $checkbox-title-color;
        line-height: $line-height-zh;
    }

    &__desc {
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        color: $color-text-placeholder;
    }

    &--disabled {
        opacity: $opacity-disabled;
    }
}
