@import "../variables/default.scss";
@import "../mixins/index.scss";

.collapse {
    position: relative;
    &__header {
        @include display-flex();
        @include justify-content(space-between);
        @include align-items(center);
        @include hairline-bottom();
        position: relative;
        padding: $spacing-v-lg $spacing-h-lg;
        width: 100%;
        min-height: $font-size-lg;
        color: $color-text-base;
        font-size: $font-size-lg;
        box-sizing: border-box;
    }

    &__title {
        @include line();
        flex: 1, 1, auto;
    }

    &__icon {
        flex: 0, 0, auto;
        margin-left: $spacing-h-md;
        transition: transform 100ms;
        &--reverse {
            transform: rotate(0.5turn);
        }
    }

    &__body {
        @include hairline-bottom();
        position: relative;
        width: 100%;
        padding: $spacing-v-lg $spacing-h-lg;
        overflow: hidden;
        transition: height 500ms $ease-in-sine;

        &--inactive {
            position: absolute;
            visibility: hidden;
            height: 0;
            z-index: -10;
        }
    }

    &--disabled {
        .collapse__body,
        .collapse__header {
            color: $color-text-disabled;
        }
    }
}
