@import "../variables/default.scss";
@import "../mixins/index.scss";

.input-number {
    height: $input-number-height;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: hidden;
    font-size: $font-size-base;
    line-height: $line-height-line;

    &__btn {
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        padding: 0 size(10);
        border: size(1) solid $input-number-color-border;
        color: $input-number-color-btn;
        text-align: center;

        &-sub,
        &-add {
            font-size: $input-number-btn-size;
            line-height: $input-number-btn-size;
        }

        &--disabled {
            color: $color-text-disabled;
            border-color: $color-text-disabled;
        }
    }

    &__input,
    input {
        height: auto;
        width: $input-number-width-min;
        border-top: size(1) solid $input-number-color-border;
        border-bottom: size(1) solid $input-number-color-border;
        border-radius: 0;
        color: $color-text-base;
        text-align: center;
    }

    // /* modifiers */
    // &--disabled {
    //     color: $color-text-disabled;

    //     &:active {
    //         background-color: inherit;
    //     }
    // }

    // &--lg {
    //     .input-number__btn {
    //         padding: $input-number-btn-padding-lg;
    //         font-size: $input-number-font-size-lg;

    //         &-subtract,
    //         &-add {
    //             font-size: $input-number-btn-size-lg;
    //         }
    //     }

    //     input,
    //     .input-number__input {
    //         padding: $spacing-v-sm;
    //         font-size: $input-number-font-size-lg;
    //         width: $input-number-width-min-lg;
    //     }
    // }
}
