@import "../variables/default.scss";
@import "../mixins/index.scss";

.input {
    display: block;
    padding: size(10) 0;
    line-height: size(22);
    font-size: $font-size-lg;
    color: $color-text-base;

    // 小尺寸
    &--sm {
        display: inline-block;
        padding: size(5);
        line-height: size(20);
        font-size: $font-size-base;
    }

    &--border {
        padding: size(10);
        @include hairline-surround(
            $input-color-border,
            $radius: $border-radius-lg
        );
    }

    /* modifiers */
    &--focus {
        color: $color-info;
        &.input--border {
            @include hairline-surround($color-info);
        }
    }

    &--error {
        color: $color-error;
        &.input--border {
            @include hairline-surround($color-error);
        }
    }

    &--disabled {
        opacity: $opacity-disabled;
    }
}

.input__placeholder {
    color: $color-text-placeholder;
}
