@import "../variables/default.scss";
@import "../mixins/index.scss";

.tabs {
    @include display-flex();
    @include justify-content(space-between);
    position: relative;
    width: 100%;
    height: $tabs-height;
    overflow: hidden;
    background: $color-white;

    &__sticky {
        position: fixed;
        z-index: $zindex-nav;
    }

    &-content {
        align-self: stretch;
        flex: 1;
        @include display-flex();
        @include justify-content(space-between);
        @at-root &__scroll {
            flex: 1;
            @include display-flex();

            // scroll view 中出现中文会折行
            white-space: nowrap;
        }
    }

    &__placeholder {
        width: 100%;
        height: $tabs-height;
    }

    &-left,
    &-right {
        @include display-flex();
        @include justify-content(center);
        height: auto;
        width: auto;
    }
}

.tab {
    position: relative;
    min-width: $tabs-width-min;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include line(1);

    // scroll view 中使用 view 会出现问题
    display: inline-block;

    &_content {
        @include display-flex();
        @include justify-content(center);
        @include align-items(center);
        min-width: $tabs-width-min;
        height: 100%;
        padding: 32rpx 20rpx;
        font-family: $tabs-font-family;
        font-size: $tabs-font-size;
        line-height: $line-height-base;
        text-align: center;
        color: $tabs-color-normal;
    }

    &_dash {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: $tabs-width-dash;
        height: $tabs-height-dash;
        transform: translateX(-50%);
        background: $tabs-color-dash;
        border-radius: $tabs-height-dash;
        overflow: hidden;
    }

    &__on {
        .tab_content {
            color: $tabs-color-active;
            font-size: $tabs-font-size-active;
        }
    }

    &__disabled {
        .tab_content {
            color: $color-text-disabled;
        }
    }
}
