@import "../variables/default.scss";
@import "../mixins/index.scss";

.tabs {
    @include display-flex();
    @include justify-content(space-between);
    position: relative;
    width: 100%;
    height: $tabs-height;
    overflow: hidden;
    background: $color-white;
    z-index: $zindex-tab;

    &-content {
        align-self: stretch;
        flex: 1;
        @include display-flex();
        @include justify-content(space-between);
        @at-root &__scroll {
            flex: 1;
            @include display-flex();

            // scroll view 中出现中文会折行
            white-space: nowrap;
        }
    }

    &__sticky {
        position: fixed;
        z-index: $zindex-nav;
    }

    &__placeholder {
        width: 100%;
        height: $tabs-height;
    }

    &-left,
    &-right {
        @include display-flex();
        @include justify-content(center);
        height: auto;
        width: auto;
    }
}

.tab {
    position: relative;
    min-width: $tabs-width-min;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include line(1);

    // scroll view 中使用 view 会出现问题
    display: inline-block;

    &_content {
        @include display-flex();
        @include justify-content(center);
        @include align-items(center);
        min-width: $tabs-width-min;
        height: 100%;
        padding: 20rpx;
        font-size: $font-size-base;
        line-height: $line-height-base;
        text-align: center;
    }

    &_dash {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $tabs-height-dash;
        background: $tabs-color-dash;
        margin: auto;
    }

    &__on {
        color: $tabs-color-active;
    }

    &__disabled {
        color: $color-text-disabled;
    }
}
