@import "../variables/default.scss";
@import "../mixins/index.scss";

.textarea {
    box-sizing: border-box;
    width: 100%;
    padding: $spacing-v-md;
    background-color: $color-white;
    font-size: $textarea-font-size;
    line-height: $textarea-line-height;

    &__placeholder {
        color: $color-text-placeholder;
    }

    &__counter {
        width: 100%;
        padding-top: $spacing-v-sm;
        color: $textarea-counter-color;
        font-size: $textarea-counter-size;
        text-align: right;
        line-height: $line-height-line;
    }

    &--border {
        @include hairline-surround(
            $textarea-border-color,
            $radius: $border-radius-lg
        );
    }

    &--error {
        color: $color-error;
        .textarea__counter {
            color: $color-error;
        }
        &.textarea--border {
            @include hairline-surround(
                $color-error,
                $radius: $border-radius-lg
            );
        }
    }

    &--disabled {
        color: $color-text-disabled;
        .textarea__counter {
            color: $color-text-disabled;
        }
    }
}
