
/**
 * 背景图片
 * 
 * 使用方法:
 * .icon{
 *   @include bg-image(logo);
 * }
 */
@mixin bg-image($url){
  background-image: url($url + "@2x.png");
  
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    background-image: url($url + "@3x.png");
  }
}


/**
 * 文本不换行
 * 
 * 使用方法:
 * .box {
 *   @include no-wrap()
 * }
 */
@mixin no-wrap(){
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


/**
 * 扩展点击区域(多用于移动端)
 * 
 * 使用方法:
 * .box {
 *   @include extend-click()
 * }
 */
@mixin extend-click(){
  position: relative;

  &:before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}


/**
 * 多行文本溢出...
 * 
 * 使用方法:
 * .text{
 *   @include multiEllipsis(3)  // 表示只显示三行,多出来的显示省略号
 * }
 */
@mixin multiEllipsis($line: 2){
  overflow : hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}


/**
 * 透明度
 * 
 * 使用方法:
 * .box {
 *   @include opacity(0.8);
 * }
 */
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


/**
 * 清除浮动
 * 
 * 使用方法:
 * .box {
 *   @include clearfix()
 * }
 */
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}


/**
 * 美化占位符 placeholder 样式
 * 
 * 使用方法:
 * input {
 *   @include beauty-placeholder(25px, #eee, left)
 * }
 */
@mixin beauty-placeholder($fz, $color: #999, $align: left) {
  &:-moz-placeholder {
    font-size: $fz;
    color: $color;
    text-align: $align;
  }
  &:-ms-input-placeholder {
    font-size: $fz;
    color: $color;
    text-align: $align;
  }
  &::-webkit-input-placeholder {
    font-size: $fz;
    color: $color;
    text-align: $align;
  }
}


/**
 * 美化文本的选中
 * 
 * 使用方法:
 * .text {
 *   @include beauty-select(#fff, #000)
 * }
 */
@mixin beauty-select($color, $bgcolor) {
  &::selection {
    color: $color;
    background-color: $bgcolor;
  }
}


/**
 * 毛玻璃效果
 * 
 * 使用方法:
 * .box {
 *   @include blur(10px)
 * }
 */
@mixin blur($blur: 10px) {
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='${blur}');
  filter: blur($blur);
  *zoom: 1;
}


/**
 * 滤镜: 将彩色照片显示为黑白照片、保留图片层次
 * 
 * 使用方法:
 * .img {
 *   @include grayscale()
 * }
 */
@mixin grayscale() {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}


/**
 * 文本居中
 * 
 * 使用方法:
 * .text{
 *   color: #fff;
 *   @include center(30px)
 * }
 */
@mixin center($height: 100%){
  height: $height;
  line-height: $height;
  text-align: center
}


/**
 * 修改背景色等
 * 
 * 使用方法:
 * .container{
 *   @include background(10px, #eee, #fff, 700)
 * }
 */
@mixin background($border-radius: 5px, $bg-color: #eee, $color: #fff, $font-weight: 400){
  border-radius: $border-radius;
  background-color: $bg-color;
  color: $color;
  font-weight: $font-weight;
}


/**
 * flex
 * 
 * 使用方法:
 * .box {
 *   @include flex(row, flex-start, flex-start, wrap)
 * }
 */
@mixin flex ($direction: row, $justify-content: flex-start, $align-items: flex-start, $flex-wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}


/**
 * 鼠标hover显示下划线
 * 
 * 使用方法:
 * span {
 *   @include hoverLine(2px, $color-white);
 * }
 */
@mixin hoverLine($height: 2px, $color: $color-text-primary){
  position: relative;

  &:hover::after{
    content: '';
    position: absolute;
    height:$height;
    width: 100%;
    background-color: $color;
    bottom: 0;
    left: 0;
  }
}
