
.my-wrap {
  padding-bottom: 200rpx;
}

.getuser-mask-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.background {
  position: absolute;
  width: 100%;
  height: 108rpx;
  z-index: -1;
}