@import '@/assets/styles/index.scss';

.progress-rate-wrap{
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: 0;
  width: 100%;
  bottom: 2*$spacing-xxl;
  padding: 8*$spacing-lg 0;
  color: rgb(175, 151, 156);

  @at-root .progress-rate-inner{
    display: flex;
    align-items: center;
    font-size: $font-size-sm;

    @at-root .pr-video-time{
      font-size: 46rpx;
      font-weight: bold;
      margin: 0 $spacing-sm;
    }
  }
}

.progress-shadow{
  position: absolute;
  width: 100%;
  height: 40rpx;
  left: 0;
  bottom: 2*$spacing-lg;
  z-index: 1001;
}

.snap-video-progress{
  position: absolute;
  left: 0;
  bottom: 2*$spacing-xxl;
  background: #585256;
  z-index: 1000;
}
