@import "@/theme";

page {
  background-color: $color-white;
}

$line-h-position: 160rpx;
$line-v-position: 30rpx;

.detail {
  width: 100%;
  padding: $spacing-v-lg $spacing-h-lg;
  border-bottom: $color-border-split $spacing-v-lg solid;
  display: flex;
  flex-flow: row wrap;

  &-images {
    image {
      $image-size: 120rpx;

      width: $image-size;
      height: $image-size;
      margin-right: $spacing-h-sm;
    }
  }

  &-content {
    padding-left: $spacing-h-md;

    &-expect {
      font-size: $font-size-xxl;
    }
  }
}

.journal {
  width: 100%;
  padding: $spacing-v-lg $spacing-h-lg;
}
