.fund-list {
    &_total {
        background-color: #fff;
        margin-bottom: 18rpx;

        &-amount {
            font-family: "SFUIDisplay-Medium";
            font-size: 32rpx;
            color: #F32953;
            text-align: right;
            line-height: 1;
        }
    }

    &__empty {
        margin: 30rpx auto;
        text-align: center;
        color: #999;
    }
}