@import './assets/iconfont.scss';

$font-color: white !default;
$gray: gray !default;
$background-color: #111111 !default;

@keyframes commentExpand {
  0% {
    opacity: 0;
    margin-top: -90rpx;
  }

  95% {
    opacity: .7;
    margin-top: 30rpx;
  }

  100% {
    opacity: 1;
    margin-top: 30rpx;
  }
}

.comment-wrap {
  color: $font-color;
  height: 100%;
  background: $background-color;
  opacity: .9;
  font-size: 28rpx;

  @at-root .comment-item-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80rpx 0 100rpx;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    z-index: -1;

    @at-root .comment-item {
      display: flex;
      justify-content: flex-start;

      &.level-one {
        padding: 0 30rpx;
        margin-bottom: 40rpx;
      }

      &.level-two {
        margin-top: 30rpx;

        &.expand {
          animation: commentExpand 360ms ease 0ms forwards;
        }
      }

      @at-root .avatar-one {
        width: 60rpx;
        height: 60rpx;
        border-radius: 60rpx;
        overflow: hidden;

        image {
          width: 100%;
          height: 100%;
        }
      }

      @at-root .content-one-wrap {
        margin-left: 20rpx;
        width: 100%;

        @at-root .content-one-inner {
          position: relative;

          @at-root .content-nickname {
            color: $gray;
            font-size: 24rpx;
          }

          @at-root .content-comment {
            padding-right: 80rpx;

            @at-root .content-commenttime {
              display: inline-block;
              color: $gray;
              font-size: 24rpx;
            }

            @at-root .content-reply-name {
              color: $gray;
            }
          }
        }

        @at-root .child-comment-outer {
          overflow: hidden;

          @at-root .child-comment-wrap {
            overflow: hidden;
  
          }
        }
      }

      @at-root .avatar-two {
        width: 40rpx;
        height: 40rpx;
        border-radius: 40rpx;
        overflow: hidden;

        image {
          width: 100%;
          height: 100%;
        }
      }

      @at-root .content-two-wrap {
        position: relative;
        margin-left: 10rpx;
        width: 100%;

        @at-root .comment-star-wrap {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          right: -30rpx;
          top: 0;
          width: 100rpx;
          text-align: center;

          @at-root .iconheart {
            display: block;
            font-size: 42rpx;
            color: $gray;

            &.stared {
              color: #f50005;
            }
          }

          @at-root .comment-star-count {
            position: relative;
            top: -8rpx;
            color: $gray;
            font-size: 24rpx;

            &.stared {
              color: #f50005;
            }
          }
        }
      }

      @at-root .comment-more-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $gray;
        font-size: 24rpx;
        padding: 20rpx 0;
        margin-top: 20rpx;
        margin-bottom: -20rpx;

        @at-root .comment-more-line {
          width: 40rpx;
          height: 2rpx;
          background: $gray;
        }

        @at-root .comment-more-text {
          margin: 0 10rpx;
        }

        @at-root .comment-more-icon {
          width: 0;
          height: 0;
          border-left: 7rpx solid transparent;
          border-right: 7rpx solid transparent;

          &.down {
            border-top: 10rpx solid $gray;
          }

          &.up {}
        }
      }
    }

    @at-root .comment-placehold {
      text-align: center;
      font-size: 24rpx;
      color: $gray;
      margin-top: 80rpx;
      height: 80rpx;
    }
  }

  @at-root .comment-title-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    background: $background-color;
    z-index: 9999;

    @at-root .comment-title {
      text-align: center;
    }

    @at-root .comment-close-btn {
      position: absolute;
      width: 80rpx;
      height: 80rpx;
      top: 0;
      right: 0;

      .icon-font {
        float: right;
        text-align: center;
        color: $font-color;
        margin-right: 10rpx;
        width: 80rpx;
        height: 80rpx;
        line-height: 80rpx;
        font-size: 28rpx;
      }
    }
  }

  @at-root .comment-footer-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    background: #000000;
    z-index: 9999;

    .icon-font {
      position: absolute;
      right: 0;
      font-size: 50rpx;
      color: $gray;

      &.iconat {
        right: 120rpx;
      }

      &.iconface {
        right: 30rpx;
        font-weight: bold;
      }
    }

    @at-root .comment-footer-inner {
      padding: 0 30rpx;

      @at-root .comment-footer-text {
        color: $gray;
      }
    }
  }
}