@import "@/theme";

.info {
  position: relative;
  width: 100%;

  &-copy {
    position: absolute;
    top: $spacing-v-lg;
    right: $spacing-h-lg;
    padding: $spacing-v-xs $spacing-h-md;
    border: 1rpx $color-border-base solid;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    color: $color-grey-3;
    border-radius: $border-radius-md;
  }

  .card__info {
    color: $color-grey-3;
    margin: $spacing-v-sm 0;
  }
}
