/* Tab Component */

@import "@/assets/styles/index.scss";

:host {
    flex: 1;
}

.mf_tab {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include ellipsis();

    // scroll view 中使用 view 会出现问题
    display: inline-block;

    &_content {
        min-width: 100rpx;
        height: 100%;
        padding: 20rpx;
        @include flex($justify: center, $align-items: center);

        font-size: $font-size-base;
        line-height: $line-height-base;
        text-align: center;
    }

    &_dash {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        // max-width: 60%;
        height: 4rpx;

        background: $color-primary;
        margin: auto;
    }

    &__on {
        color: $color-primary;
    }

    &__disabled {
        color: $color-text-bullet;
    }
}
